﻿@model FixItTron.Web.Host.Areas.Administration.Models.ApplicationUsers.ApplicationUserTableRowModel
<td>
    @Html.DisplayFor(model => model.Username)
</td>
<td>
    @Html.DisplayFor(model => model.FullName)
</td>
<td>
    @Html.DisplayFor(model => model.Email)
</td>
<td>
    @Html.DisplayFor(model => model.AvailablePrints)
</td>
<td>
    @Html.DisplayFor(model => model.UsedPrints)
</td>
<td>
    @Html.DisplayFor(model => model.CreateDate)
</td>
<td>
    @Html.DisplayFor(model => model.UserType)
</td>
<td class="actions">
    @Html.DisplayFor(model => model.Actions)
</td>
