﻿@model FixItTron.Web.Host.Areas.Administration.Models.ApplicationUsers.ApplicationUserFilterViewModel
<td></td>
<td>
    @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.TextBoxFor(model => model.FullName, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.EditorFor(model => model.AvailablePrints, "UnboundedIntRange")
</td>
<td>
    @Html.EditorFor(model => model.UsedPrints, "UnboundedIntRange")
</td>
<td>
    @Html.EditorFor(model => model.CreateDate)
</td>
<td>
    @Html.DropDownListFor(model => model.UserType, Model.UserTypesSelectList, new { @class = "select2me form-control form-filter" })
</td>