﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Get a Pikcha</title>
    <link href="~/Content/Web/css/cropper.min.css" rel="stylesheet" />

    <link href="~/Assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    
    @Styles.Render("~/styles/web")

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-57276571-4', 'auto');
        ga('require', 'displayfeatures');
        ga('require', 'linkid', 'linkid.js');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <nav id="menu" class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left hidden">
        <div class="fa fa-bars slide-menu-toggle" id="close-menu"></div>

        <div class="head-part">
            <a href="@Url.Action(MVC.Home.Index())">
                <img src="~/Assets/img/pikcha_logo_white.png" width="300" />
            </a>
            <p class="text-content">Your Current Balance is :</p>
            <div class="icon icon-image">
                <span id="js-user-balance" style="font-size: 0.7em;">

                </span>
            </div>
        </div>
        <div class="content-part">
            <form id="js-promo-code" action="@Url.Action(MVC.Home.EnterPromoCode())">
                <input type="text" name="code" value="" placeholder="ENTER PROMOTION CODE" class="custom-input" />
            </form>
        </div>
    </nav>
    <main id="panel">
        <div class="container">
            <div id="header">
                <div class="fa fa-bars menu-toggle hidden" id="showLeft"></div>
                <a id="logo" style="margin-left:25px;" href="@Url.Action(MVC.Home.Index())">
                </a>
                <a id="rotate" href="#" onclick="ga('send', 'event', { eventCategory: 'Clicked On Rotate', eventAction: 'click'});">
                </a>
            </div>
            @RenderBody()
        </div>
        @Html.Action(MVC.Home.PrivacyPolicy())
    </main>
    <script src="~/Content/Web/js/load-image.all.min.js"></script>
    @Scripts.Render("~/scripts/web")
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        InitializePikcha({
            enterPromoUrl : '@Url.Action(MVC.Home.EnterPromoCode())',
            userInfoUrl : '@Url.Action(MVC.Home.GetUserInfo())'
        });
    </script>

    <!-- Google Code for Remarketing Tag -->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 910574112;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/910574112/?value=0&amp;guid=ON&amp;script=0" />
        </div>
    </noscript>
</body>

</html>