﻿@{
    Layout = MVC.Home.Views._Layout;
}

<div class="croppic-cont">
    <div class="croppic-inner-cont">
        <div class="cropper"></div>
        <img class="dark-logo" src="~/Content/Web/img/Pikcha-dark.png" alt="Pikcha" />
    </div>
    <div class="btn btn-success btn-center" id="crop" data-url="@Url.Action(MVC.Home.Upload())" onclick="ga('send', 'event', { eventCategory: 'Upload Image Button', eventAction: 'click'});">Upload Image</div>
    <span class="btn" id="cropContainerHeaderButton" style="display:none;">click here to try it</span>
</div>

<div id="generated-qr-cont">
    <div id="generated-qr">
    </div>
    <div class="bg-bottom">
    </div>
    <div id="actions">
        <a href="fb://feed" class="share-facebook">
            <img src="~/Content/Web/img/facebook.png" alt="" />
            Share on Facebook
        </a>
        <a href="instagram://app" class="share-instagram">
            <img src="~/Content/Web/img/instagram.png" alt="" />
            Share on Instagram
        </a>
        <a class="take-another" href="#">Take another Pikcha</a>
    </div>
</div>

<a id="camera" href="#" onclick="ga('send', 'event', { eventCategory: 'Main Choose Camera', eventAction: 'click'});">
    <img class="camera-logo" src="~/Content/web/img/camera.png" /> <span>Camera</span>
</a>
<a id="gallery" href="#" onclick="ga('send', 'event', { eventCategory: 'Main Choose Gallery', eventAction: 'click'});">
    <img class="gallery-logo" src="~/Content/web//img/gallery.png" /> <span>Gallery</span>
</a>

<input type="file" name="PictureCrop" class="picture-select camera" value=" " accept="image/*" capture />
<input type="file" name="PictureCrop" class="picture-select gallery" value=" " accept="image/*" />