﻿@model FixItTron.Web.Host.Areas.Administration.Models.CreateRoleViewModel
@{
    ViewBag.Title = ApplicationStrings.EditRole;
}

@using (Html.BeginForm(MVC.Administration.Roles.Edit(), FormMethod.Post, new { @class = "form-horizontal form-row-seperated" }))
{
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-cogs"></i>@Model.Name
            </div>
            @Html.Partial(MVC.Shared.Views.DetailsActionsToolbar)
        </div>

        <div class="portlet-body">
            <div class="form-body">
                @Html.EditorForModel()
            </div>
        </div>
    </div>
}

@section scripts
{
    <script>
        $(function () {

        });
    </script>
}