﻿@model FixItTron.Web.Host.Areas.Administration.Models.Configurations.ConfigurationFilterViewModel
<td>
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.TextBoxFor(model => model.Value, new { @class = "form-control form-filter " })
</td>