﻿@model FixItTron.Web.Host.Areas.Administration.Models.Configurations.EditConfigurationViewModel

@Html.HiddenFor(model => model.ConfigurationId)
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-horizontal">
    <div class="form-group">
        @Html.RequiredLabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @disabled = "disabled", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
    @Html.RequiredLabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-4" })
    <div class="col-md-8">
        @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
    </div>
</div>
</div>