﻿@model FixItTron.Web.Host.Models.Profile.EmployeeProfileViewModel
@{
    ViewBag.Title = ApplicationStrings.Profile;
    ViewContext.FormContext = new FormContext();
}

<div class="form-horizontal" role="form">
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption" style="">
                @*<i class="fa fa-shopping-cart"></i>*@@*@string.Join(" ", Model.FirstName, Model.LastName)*@
            </div>
            <div class="actions btn-set">
                @*<a href="@Url.Action(MVC.Profile.Index())" name="navigate-back" class="btn default"><i class="fa fa-angle-left"></i> @ApplicationStrings.Back</a>*@

                <a data-modal-action-dialog="true"
                   class="btn btn-primary modal-action-dialog js-entity-action"
                   data-headertext="@ApplicationStrings.ChangePassword"
                   href="@Url.Action(MVC.Profile.ChangePassword())">
                    @ApplicationStrings.ChangePassword
                </a>
            </div>
        </div>
        <div class="form-body">
            @Html.DisplayForModel()
        </div>
    </div>
</div>

@*@section styles
{
    <link href="~/Assets/CSS/pages/profile.css" rel="stylesheet" />
}*@