﻿#cropContainerHeader {
    width: 200px;
    height: 150px;
    position: relative; /* or fixed or absolute */
}

#croppic {
    width: 400px; /* MANDATORY */
    height: 400px; /* MANDATORY */
    margin: 0 auto;
    position: relative; /* MANDATORY */
    border: 3px solid #00baab;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    border-radius: 2px;
    background-image: url(../img/placeholder.png);
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 8px 8px 0rgba(0,0,0,0.1);
    margin-top: 50px;
}

.croppic-cont {
    display: none;
    margin-top: 25px;
}

#generated-qr-cont {
    /*width: 400px;*/
    display: block;
    position: relative;
    display: none;
    z-index: 100;
    top: -35px;
}
