﻿@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light_0-webfont.eot');
    src: url('../fonts/Roboto-Light_0-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light_0-webfont.woff') format('woff'), url('../fonts/Roboto-Light_0-webfont.ttf') format('truetype'), url('../fonts/Roboto-Light_0-webfont.svg#glyphicons_halflingsregular') format('svg');
}

html, body {
    margin: 0;
    padding: 0;
    background: #494949;
    font-family: 'Roboto-Light';
}

.container {
    /*padding-right: 15px;
    padding-left: 15px;*/
    margin-right: auto;
    margin-left: auto;
    background: #494949;
    min-height: 100%;
}
@media (min-width: 768px) {
    .container {
        width: initial;
        padding-right: initial;
        padding-left: initial;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

#js-privacy-modal .modal-dialog
{
    width: 330px;
    text-align:center;
    color: #666;
}

#js-privacy-modal .modal-title
{
    font-weight: bold;
}

#js-privacy-modal .modal-body a
{
    color: #666;
    text-decoration: underline;
}

#privacy-agree {
    margin:auto;
    display:block;
    background-color: #00baab;
    width: 110px;
    border-color: #00baab;
    color: #fff;
    font-size: 18px;
    font-weight:bold;
}



#header {
    background-color: #00baab;
    height: 130px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 4.33px 10px 0 gray;
    position: relative;
    z-index: 500;
}

#logo-stroke {
    width: 4mm;
    position: absolute;
    margin-top: 4mm;
    margin-left: 92.5mm;
}

#logo-stroke2 {
    width: 10mm;
    position: absolute;
    margin-top: -2.1mm;
    margin-left: 75mm;
}

#logo {
    background-image: url('../img/pikcha.png');
    background-repeat: no-repeat;
    height: 62px;
    width: 171px;
    display: table-cell;
    float: left;
}

#rotate {
    background-image: url('../img/rotate_right_64.png');
    background-repeat: no-repeat;
    height: 64px;
    width: 64px;
    display: table-cell;
    float: right;
}

#camera, #gallery {
    background-repeat: no-repeat;
    display: block;
    text-align: center;
    font-size: 5em;
    font-weight: bold;
    text-decoration: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#camera {
    background-color: white;
    color: #00baab;
    position: relative;
    z-index: 200;
}

img.camera-logo {
    width: 200px;
    vertical-align: middle;
    margin-right: 50px;
}

img.gallery-logo {
    vertical-align: middle;
    margin-right: 53px;
    width: 200px;
}

#gallery .camera-logo {
    background-image: url('../img/gallery.png');
}

#gallery {
    background-color: #00baab;
    color: white;
}

.cropControlReset, .cropControlCrop, .cropControlZoomMuchOut, .cropControlZoomOut, .cropControlZoomIn, .cropControlZoomMuchIn {
    display: none !important;
}

.croppic-cont {
    position: relative;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-success {
    background-color: #09C856;
    border-color: #4cae4c;
    color: #fff;
    font-size: 18px;
    position: relative;
    display: block;
    width: 200px;
}

.btn-center {
    height: 26px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 15px;
}

.croppic-inner-cont {
    background: white;
    width: 550px;
    height: 550px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: -10px;
}

.dark-logo {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    margin-top: 50px;
}

.bg-bottom {
    position: absolute;
    background: #00baab;
    width: 100%;
    bottom: 0;
}

.picture-select {
    display: none !important;
}

.cropper-modal, .cropper-drag-box {
    background-color: transparent;
}

img.obj {
    max-height: 545px;
}

#image-cont {
    width: 105mm;
    margin: auto;
    background: #FFFFFF;
    padding: 5mm;
    margin-top: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 155mm;
}

#generated-qr {
    width: 400px;
    background: white;
    /* margin: 0 auto; */
    border: 35px solid white;
    position: absolute;
    z-index: 100;
    margin: auto;
    left: 0;
    right: 0;
    top: 60px;
}

.take-another, .share-facebook, .share-instagram {
    text-decoration: none;
    position: absolute;
    font-size: 2em;
    color: white;
    padding: 5px;
    z-index: 100;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    width: 460px;
}

.share-facebook, .share-instagram {
    font-size: 1.5em;
    line-height: 40px;
}

    .share-facebook img, .share-instagram img {
        position: absolute;
        left: 15px;
        top: 15px;
    }

.take-another {
    border: 1px solid white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    bottom: 45px;
    font-weight: 700;
    font-style: italic;
    cursor: pointer;
    padding: 10px;
}

.share-facebook {
    bottom: 210px;
    background-color: #3b5998;
    padding: 10px;
}

.share-instagram {
    bottom: 145px;
    background-color: #2d577d;
    padding: 10px;
}

@media (max-device-width: 768px) {
    #js-privacy-modal .modal-dialog
    {
        width: 680px;
        font-size: 2em;
        margin-top:200px;
    }

    #js-privacy-modal .modal-content
    {
        border-radius: 12px;
    }
    
    #js-privacy-modal .modal-dialog h4
    {
        font-size: 1.2em;
    }

    #js-privacy-modal .modal-dialog #privacy-agree
    {
        font-size: 1.5em;
        height: 100px;
        width: 40%;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 40px;
        margin-bottom: 30px;
        font-weight: 700;
    }

    #js-privacy-modal .modal-dialog button.close
    {
        font-size: 1.5em;
        margin-right: 10px;
    }

    #js-privacy-modal .modal-dialog input[type=checkbox]
    {
        -ms-transform: scale(2.2);
        -moz-transform: scale(2.2);
        -webkit-transform: scale(2.2);
        -o-transform: scale(2.2);
        margin-top: 15px;
        margin-left: -30px;
    }

    .croppic-inner-cont {
        width: 785px;
        height: 960px;
    }

    img.obj {
        min-height: 780px;
    }

    #generated-qr {
        top: -500px;
        bottom: 0;
        border-width: 50px;
    }

    .take-another {
        font-size: 3em;
        bottom: 100px;
    }

    .share-facebook, .share-instagram {
        font-size: 2.5em;
        line-height: 70px;
    }

        .share-facebook img, .share-instagram img {
            height: 55px;
        }

    .share-facebook {
        bottom: 440px;
        border-radius: 5px;
    }

    .share-instagram {
        bottom: 330px;
        border-radius: 5px;
    }


    .dark-logo {
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        bottom: 240px;
        width: 240px;
    }

    .dark-logo {
        display: block;
    }

    .btn-success {
        height: 120px;
        width: 82%;
        font-size: 4em;
        border-radius: 10px;
        margin: 0 auto;
        padding-top: 30px;
        margin-top: 60px;
        font-weight: 700;
    }

    .cropper {
        margin-top: inherit;
    }
}
 #event-logo {
        top: 100mm;
        
    }
@media print {
    .hidden-print {
        display: none;
    }

    .container {
        width: 100% !important;
    }

    #image-cont {
        margin-top: 0;
        height: 155mm;
        width: 105mm;
    }

   
}

.blockPage {
    opacity: 1 !important;
    top: 45%;
    width: 100%;
    height: 50px;
    text-align: center;
}

.block-spinner-bar {
    text-align: center;
}

    .block-spinner-bar > div {
        margin: 0 2px;
        width: 40px;
        height: 40px;
        background: #eee;
        border-radius: 100% !important;
        display: inline-block;
        -webkit-animation: bounceDelay 1.4s infinite ease-in-out;
        animation: bounceDelay 1.4s infinite ease-in-out;
        /* Prevent first frame from flickering when animation starts */
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        background: #00baab;
    }

    .block-spinner-bar .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .block-spinner-bar .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }

@-webkit-keyframes bounceDelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
    }
}

@keyframes bounceDelay {
    0%, 80%, 100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }

    40% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}


 #cropContainerHeader {
            width: 200px;
            height: 150px;
            position: relative; /* or fixed or absolute */
        }

        #croppic {
            width: 400px; /* MANDATORY */
            height: 400px; /* MANDATORY */
            margin: 0 auto;
            position: relative; /* MANDATORY */
            border: 3px solid #00baab;
            box-sizing: content-box;
            -moz-box-sizing: content-box;
            border-radius: 2px;
            background-image: url(../img/placeholder.png);
            background-repeat: no-repeat;
            background-position: center;
            box-shadow: 8px 8px 0rgba(0,0,0,0.1);
            margin-top: 50px;
        }

        .croppic-cont {
            display: none;
            margin-top: 25px;
        }

        #generated-qr-cont {
            /*width: 400px;*/
            display: block;
            position: relative;
            display: none;
            z-index: 100;
            top: -35px;
        }

        .cbp-spmenu-left {
            left: -80%;
        }

        .cbp-spmenu-right {
            right: -240px;
        }

        .cbp-spmenu-left.cbp-spmenu-open {
            left: 0;
        }

        .cbp-spmenu-right.cbp-spmenu-open {
            right: 0;
        }

        /* Horizontal menu that slides from the top or bottom */

        .cbp-spmenu-top {
            top: -150px;
        }

        .cbp-spmenu-bottom {
            bottom: -150px;
        }

        .cbp-spmenu-top.cbp-spmenu-open {
            top: 0;
        }

        .cbp-spmenu-bottom.cbp-spmenu-open {
            bottom: 0;
        }

        .cbp-spmenu-open {
            box-shadow: 6px 0 14px #736A6A;
        }

        #menu {
            width: 80%;
            z-index: 1000;
            background-color: white;
        }

        .hidden {
            display: none !important;
        }

        .head-part {
            position: relative;
            padding: 25px;
            padding-top: 300px;
            background-color: #00baab;
            font-size: 40px;
            padding-bottom: 50px;
        }

        .icon-image {
            position: absolute;
            right: 50px;
            bottom: 40px;
            width: 170px;
            height: 190px;
            background-color: transparent;
            border: 16px solid white;
            border-bottom-width: 45px;
            -moz-transform: rotate(-15deg);
            -ms-transform: rotate(-15deg);
            -o-transform: rotate(-15deg);
            -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
            text-align: center;
            line-height: 140px;
            font-size: 55px;
            color: white;
            font-weight: bold;
        }

            .icon-image > span {
                display: block;
                -moz-transform: rotate(15deg);
                -ms-transform: rotate(15deg);
                -o-transform: rotate(15deg);
                -webkit-transform: rotate(15deg);
                transform: rotate(15deg);
            }

        .text-content {
            color: #D4E9E6;
            margin: 0;
            font-weight: bold;
        }

        .menu-toggle {
            font-size: 60px;
            color: white;
            background: transparent;
            cursor: pointer;
            display: block;
            float: left;
        }

        #crop {
            padding-top: 15px;
        }

        .content-part {
            padding: 70px 15px 15px;
            position: relative;
        }

        .custom-input {
            width: 100%;
            text-align: center;
            font-size: 34px;
            height: 100px;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            border: 3px solid #00baab;
        }

            .custom-input::-webkit-input-placeholder {
                color: #00baab;
                font-weight: bold;
                opacity: .8;
            }

            .custom-input:-moz-placeholder { /* Firefox 18- */
                color: #00baab;
                font-weight: bold;
                opacity: .8;
            }

            .custom-input::-moz-placeholder { /* Firefox 19+ */
                color: #00baab;
                font-weight: bold;
                opacity: .8;
            }

            .custom-input:-ms-input-placeholder {
                color: #00baab;
                font-weight: bold;
                opacity: .8;
            }

        .slide-menu-toggle {
            position: absolute;
            top: 30px;
            right: 20px;
            color: white;
            font-size: 65px;
            display: block;
            z-index: 1000;
            cursor: pointer;
        }
