﻿@model FixItTron.Web.Host.Models.Profile.EmployeeProfileViewModel
@{
//var img = MVC.Profile.ProfileImage();
//var avatar = img;// : "/Assets/img/avatar_big.png";
}
<div class="row">
    <div class="col-md-3">
        <ul class="list-unstyled profile-nav">
            <li>
                <img src="@Html.Action(MVC.Profile.ProfileImage(User.Identity.Name))" class="img-responsive" alt="">

                @using (Html.BeginForm(MVC.Profile.ProfilePicture(), FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @*<div class="form-group">
                            <label class="control-label col-md-4" for="doc-file">@ApplicationStrings.File</label>
                            <div class="col-md-8">
                                    <input type="file" id="doc-file" name="addFile" data-val="true" data-val-required="@ApplicationStrings.FileIsRequired">
                                @Html.ValidationMessage("addFile", new { @class = "text-danger" })
                            </div>
                        </div>*@

                    <br />
                    <input type="file" id="doc-file" name="addFile" />
                    <br />
                    <input type="submit" class="btn btn-success" value="@ApplicationStrings.UpdateImage" />
                }
            </li>
        </ul>
    </div>
    @*<div class="row">
        <div class="col-md-8 profile-info">
            <h2 style="margin-top:0;">@Html.DisplayFor(model => model.FirstName)</h2>
            <p>
                    @string.Join(", ", Model.Roles)
                </p>
            <ul class="list-inline">
                <li>
                    <i class="fa fa-briefcase" title="@ApplicationStrings.Job"></i>@Html.DisplayFor(model => model.Position)
                </li>
                <li>
                    <i class="fa fa-envelope-o" title="@ApplicationStrings.Email"></i>@Html.DisplayFor(model => model.EMail)
                </li>
                <li>
                    <i class="fa fa-star" title="@ApplicationStrings.Roles"></i>@string.Join(", ", Model.Roles)
                </li>
            </ul>
        </div>
    </div>*@
</div>