﻿@{
    string title = ViewBag.Title ?? ApplicationStrings.ChangeStatus;
}
<div id="js-entity-action-modal" class="modal">
    @using (Html.BeginForm())
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
                    <h4 class="modal-title">@title</h4>
                </div>
                <div class="modal-body">
                    @Html.EditorForModel()
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">@ApplicationStrings.Close</a>
                    <button type="submit" class="btn btn-success">@(ApplicationStrings.Yes)</button>
                </div>
                <!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    }
</div>
