﻿<div id="js-entity-action-modal" class="modal">
    @using (Html.BeginForm())
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">@ApplicationStrings.ConfirmOperation</h4>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <h4>
                        @Html.ViewBag.Confirmation
                    </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">@ApplicationStrings.Close</button>
                    <button type="submit" class="btn btn-success">@ApplicationStrings.Yes</button>
                </div>
                <!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    }
</div>
