﻿@model FixItTron.Web.Host.Models.Documents.DocumentEditorModel
<div class="document-editor">
    <a class="add btn btn-sm green pull-right" href="#">
        <i class="fa fa-plus"></i>
        @ApplicationStrings.Add
    </a>
    <br /><br /><br />
    <script id="document-dialog-template" type="text/template">
        <div class="document-dialog">
            <form class="add-doc-form" action="/" method="post" data-upload-to="@Model.UploadTo">
                <input type="hidden" name="id" value="@Model.Id" data-val="true" data-val-required="*" />
                <div class="form-body">
                    <div class="form-group">
                        <label for="doc-identifier">@ApplicationStrings.Identifier</label>
                        <input type="text" class="form-control" id="doc-identifier" name="identifier" data-val="true" data-val-required="*">
                        <span class="help-block">
                            @ApplicationStrings.FileUploadIdentifierHelpText
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="doc-description">@ApplicationStrings.Description</label>
                        <textarea name="doc-description" class="form-control" id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="doc-file">@ApplicationStrings.File</label>
                        <input type="file" id="doc-file" name="addFile" data-val="true" data-val-required="@ApplicationStrings.FileIsRequired">
                        @Html.ValidationMessage("addFile", new { @class = "text-danger" })
                    </div>
                </div>
            </form>
        </div>
    </script>
    <table class="table table-striped table-hover documents">
        @foreach (var item in Model.Documents)
        {
            <tr>
                <td>
                    <a href="@string.Format("{0}/{1}?docId={2}", Model.UploadTo, Model.Id, item.DocumentId)" target="_blank">@item.Name</a>
                    @*@Html.ActionLink(item.Identifier, MVC.Products.Document(Model.Id, item.DocumentId), new { target = "_blank" })*@
                </td>
                <td>
                    @item.File.FileName
                </td>
                <td>
                    <a data-title="@item.Name" data-id="@Model.Id" data-item-id="@item.DocumentId" class="delete-doc action-icon delete" href="@Model.DeleteFrom"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
        }
    </table>
</div>