﻿@model Wandio.Web.Mvc.EntityActions

<ul class="dropdown-menu pull-right" role="menu">
    @foreach (var actionGroup in Model.GroupBy(g => g.Group))
    {
        foreach (var action in actionGroup)
        {
            <li>
                @Html.DisplayFor(model => action)
            </li>
        }
    }
</ul>
