﻿@model FixItTron.Web.Host.Models.Infrastructure.FilterModelBase

<tr class="filter js-filter">
    @Html.EditorForModel()
    <td class="actions">
        <button class="btn btn-sm yellow filter-submit" style=" width: 30px;margin-bottom:2px;"><i class="fa fa-search"></i></button>
        <button class="btn btn-sm red filter-cancel" style=" width: 30px;margin-bottom:2px;"><i class="fa fa-times"></i> </button>
    </td>
</tr>