﻿@{
    Layout = MVC.Shared.Views._Structure;
}
@{
    var img = Html.Action(MVC.Profile.ProfileImage(User.Identity.Name));/*Url.Action(MVC.Profile.ProfileImage(User.Identity.Name));*/
    var avatar = img;//Model.HasImage ? img : "/Assets/img/avatar.png";
    var logoUrl = "/Assets/img/pikcha_logo_white.png";
}

<!-- BEGIN HEADER -->
<div class="page-header -i navbar navbar-fixed-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            @*<a href="@Url.Action(MVC.Home.Index())" style="text-decoration:none;">
                    <img src="~/Assets/img/logo.png" alt="logo" class="logo-default" style="width: 70px;margin: 14px 0;" />
                    <span style="color:white;font-weight: bold;font-size: 20px;vertical-align: middle;"> CRM</span>
                </a>*@
            <a href="@Url.Action(MVC.Administration.Events.Index())" style="text-decoration:none;display: block;margin: 7px 0;">
                <img src=@logoUrl alt="Pikcha" style="width:120px;height:40px;">
                @*<span style="color:white;font-size: 25px;">
                    Pikcha<span style="font-size: 15px;color:#E83D3F;">US</span>
                </span>
                <span style="color:white;font-weight: bold;font-size: 25px;"> CRM</span>*@
            </a>
            <div class="menu-toggler sidebar-toggler hide">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>
        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                @*@Html.Partial(MVC.Shared.Views._Notifications)*@
                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN INBOX DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                @*@Html.Action(MVC.Menu.Inbox())*@
                <!-- END INBOX DROPDOWN -->
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="padding: 9px 6px 12px 8px;">
                        <div class="image-cropper">
                            <img alt="" class="img-circle rounded" src="@avatar" style="position: absolute; left: -23%; width: 37px;"/>
                        </div>
                            <span class="username username-hide-on-mobile">
                                @User.Identity.Name
                            </span>
                            <i class="fa fa-angle-down"></i>
</a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="@Url.Action(MVC.Profile.Index())">
                                @*//<a href="extra_profile.html">*@
                                <i class="icon-user"></i> My Profile
                            </a>
                        </li>@*
                        <li>
                            <a href="page_calendar.html">
                                <i class="icon-calendar"></i> My Calendar
                            </a>
                        </li>
                        <li>
                            <a href="inbox.html">
                                <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
                                    3
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="page_todo.html">
                                <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
                                    7
                                </span>
                            </a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="extra_lock.html">
                                <i class="icon-lock"></i> Lock Screen
                            </a>
                        </li>*@
                        <li>
                            <a id="logOut" href="@Url.Action(MVC.Auth.LogOut())">
                                <i class="icon-key"></i> @ApplicationStrings.LogOut
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END HEADER INNER -->
</div>
<div class="clearfix"></div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            @Html.Action(MVC.Menu.SideMenu())
            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <h3 class="page-title">
                @ViewBag.Title <small></small>
            </h3>
            <div class="page-bar">
                @Html.Action(MVC.Menu.BreadCrumbs())
            </div>

            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        @Html.Raw(string.Format("{0} &copy; Pikcha. All Rights Reserved.", DateTime.Now.Year))
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->
@section scripts
{
    @RenderSection("scripts", false)
}

@section styles
{
    @RenderSection("styles", false)
}
