﻿<div id="js-privacy-modal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title">@ApplicationStrings.PrivacyPolicy</h4>
            </div>
            <div class="modal-body">
                @Html.AntiForgeryToken()
                <h4>
                    By uploading a new Pikcha, you agree to Pikcha's <a target="_blank" href="http://pikcha.me/privacy/">Terms &amp; Conditions</a>
                </h4>
                <button type="button" id="privacy-agree" class="btn">@ApplicationStrings.Okay</button>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="privacy-policy-agreed" checked><span>Don't show again</span>
                    </label>
                </div>
            </div>
            @*<div class="modal-footer">
                    
            </div>*@
            <!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
