﻿@{
    Layout = null;
    bool isLogin = ViewBag.IsLogin ?? false;
    string bodyCss = isLogin ? "login" : "page-header-fixed page-quick-sidebar-over-content";
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Pikcha</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="ERP Application for MISTER MASTER" name="description" />
    <meta content="Wandio" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    @Styles.Render("~/style/global")
    <!-- END GLOBAL MANDATORY STYLES -->
    @if (isLogin)
    {
        <link href="~/Assets/css/login.css" rel="stylesheet" />
    }
    <!-- BEGIN THEME STYLES -->
    @Styles.Render("~/style/theme")

    @RenderSection("styles", false)
    <!-- END THEME STYLES -->
    @*<link rel="shortcut icon" href="favicon.ico" />*@
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<!-- END BODY -->
<body class="@bodyCss">

    @RenderBody()

    <!--[if lt IE 9]>
    <script src="~/Assets/plugins/respond.min.js"></script>
    <script src="~/Assets/plugins/excanvas.min.js"></script>
    <![endif]-->
    @if (isLogin)
    {
        @Scripts.Render("~/bundles/auth")

        <script>
            jQuery(document).ready(function () {
                Metronic.init(); // init metronic core components
                Layout.init(); // init current layout
            });
        </script>
    }
    else
    {
        @Scripts.Render("~/bundles/core")
        @Scripts.Render("~/bundles/global")

        <script>
            jQuery(document).ready(function () {
                Metronic.init(); // init metronic core components
                Layout.init(); // init current layout
                App.init(); // init application scripts
            });
        </script>

    }
    @*<script type="text/javascript" src="~/Assets/plugins/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Assets/scripts/hubsHelper.js"></script>*@

    <script>

        $(function () {
            @Html.RenderFlash(FlashRenderMode.Toastr)
        });
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>