﻿@using FixItTron.Web.Host.Models.Infrastructure;
@model TableModelBase
@{
    string lateClass = Model.LateActions ? "lazy-actions" : string.Empty;
}
<div class="table-container">
    @if (Model.HasToolbar)
    {
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="table-group-actions pull-left">
                    @Html.Partial(MVC.Shared.Views.ActionsToolbar, Model.ActionsToolbar)
                </div>
            </div>
        </div>
    }
    
    <table class="js-table table table-striped table-bordered table-hover dataTable no-footer @lateClass"
           data-current-url="@Model.BaseUrl.AbsoluteUri"
           data-sort="true"
           data-page="true"
           data-filter="true"
           data-actions-dropdown="@Url.Action("ActionsDropdown")">
        <thead>
            <tr role="row" class="heading js-sort">
                @if (Model.HasSelectAll)
                {
                    <th width="2%" class="sorting_disabled">
                        <input type="checkbox" class="group-checkable js-selection-all">
                    </th>
                }
                @if (Model.Headers != null && Model.Headers.Any())
                {
                    foreach (var item in Model.Headers)
                    {
                        @DrawHeader(item)
                    }
                    if (Model.HasFilter)
                    {
                        <th width="6%"></th>
                    }
                }
            </tr>

            @if (Model.HasFilter)
            {
                @Html.Partial(MVC.Shared.Views._Filter, Model.Filter)
            }
        </thead>
        <tbody>
            @if (Model.HasData)
            {
                foreach (var item in Model.Rows)
                {
                    <tr data-id="@item.RowId" class="@(item.IsInfo ? "info" : string.Empty)" style="font-size:18px"}>
                        @if (Model.HasSelectAll)
                        {
                            <td class="f-select-row">
                                @if (!item.IsDisabled)
                                {
                                    <input type="checkbox" name="ids" value="@item.RowId" />
                                }
                            </td>
                        }
                        @Html.DisplayFor(model => item)
                    </tr>
                }
            }
        </tbody>
    </table>

    @if (!Model.HasData && Model.HasFilter)
    {
        <div id="no-data">
            <div class="justif">
                <h4><i class="fa fa-lg fa-eye-slash"></i>&nbsp;@ApplicationStrings.NoDataHeader</h4>
                <a href="javascript:;" class="js-clear-filter">
                    <i class="fa fa-filter"></i>
                    @ApplicationStrings.ResetFilter
                </a>
            </div>
        </div>
    }

    @if (Model.HasPager && Model.HasData)
    {
        @Html.DisplayPager(Model.Page.Value, Model.PageSize.Value, Model.ItemCount)
    }
</div>



@helper DrawHeader(TableHeaderModel header)
{
    var className = string.Empty;

    bool isSortedByThis = false;

    if (header.IsSortable)
    {
        isSortedByThis = !string.IsNullOrEmpty(Model.SortedBy) && Model.SortedBy.Equals(header.SortBy, StringComparison.OrdinalIgnoreCase);
        className += "sorting ";
    }

    if (isSortedByThis)
    {
        className += "sorting_" + (string.IsNullOrWhiteSpace(Model.SortOrder) ? "asc" : Model.SortOrder);
    }
    @*@Html.WriteIf(header.Width.HasValue, string.Format("width=\"{0}%\"", header.Width.Value))*@
    <th class="@className" @if (header.Width.HasValue) { @(string.Format("width={0}%", header.Width.Value))       }>
        @if (header.IsSortable)
        {
            <a href="javascript:;" data-sortby="@header.SortBy">@header.Title</a>
        }
        else
        {
            @header.Title
        }
    </th>
}
