﻿@model Wandio.Web.Mvc.EntityActions

@if (Model.Any())
{
    foreach (var action in Model.Where(x => string.IsNullOrEmpty(x.Group)))
    {
        <a href="@action.Href" class="js-entity-action btn btn-sm green @Html.WriteIf(action.IsCustomAction, "custom") @Html.WriteIf(action.IsCustomAction, action.CustomActionName) @Html.WriteIf(action.BootstrapContext.HasValue, action.BootstrapContext.Value.ToString().ToLower()) ">
            @if (!string.IsNullOrEmpty(action.Icon))
            {
                <i class="fa @action.Icon"></i>
            }
            <span class="hidden-480">
                @action.Title
            </span>
        </a>
    }

    foreach (var group in Model.Where(x => !string.IsNullOrEmpty(x.Group)).GroupBy(x => x.Group).OrderBy(x => x.Key))
    {
        <div class="btn-group">
            <a class="btn btn-sm default yellow-stripe dropdown-toggle" href="javascript:;" data-toggle="dropdown">
                <i class="fa fa-share"></i>
                <span class="hidden-480">@group.Key</span>
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                @foreach (var action in group)
                {
                    <li>
                        <a class="js-entity-action @Html.WriteIf(action.IsCustomAction, "custom") @Html.WriteIf(action.IsCustomAction, action.CustomActionName)" href="@action.Href">
                            @if (!string.IsNullOrEmpty(action.Icon))
                            {
                                <i class="fa @action.Icon"></i>
                            }
                            @action.Title
                        </a>
                    </li>
                }
            </ul>

        </div>
    }
}