﻿<div class="actions btn-set">
    <a class="btn default js-reset-tab" href="@Url.Action("index")"><i class="fa fa-angle-left"></i>&nbsp;@ApplicationStrings.Back</a>
    <button class="btn green js-reset-tab"><i class="fa fa-check"></i> @ApplicationStrings.Save</button>
    <button class="btn green" name="continueEdit" value="true"><i class="fa fa-check-circle"></i> @ApplicationStrings.SaveAndContinueEdit</button>
</div>