﻿@model FixItTron.Web.Host.Models.Infrastructure.ListPageViewModel
@{
    Layout = MVC.Shared.Views._Layout;
    ViewBag.Title = Model.Title;
}

<div class="portlet">
    @*@if (!string.IsNullOrEmpty(Model.SubTitle))
        {
            <div class="portlet-title">
                <div class="caption">
                    @if (!string.IsNullOrEmpty(Model.Tag))
                    {
                        <i class="fa @Model.Tag"></i>
                    }
                    @Model.SubTitle
                </div>
            </div>
        }*@
    <div class="portlet-body">
        @Html.Partial(MVC.Shared.Views.ViewNames._Table, Model.TableModel)
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/documenteditor")
    <script>
        $(function () {
            $('.js-table').twable({
                ajax: {
                    isActive: false,
                    target: '.js-table'
                }
            });
        });
    </script>
}