﻿@model FixItTron.Web.Host.Models.Infrastructure.NavTabsModel

<ul class="nav nav-tabs @Model.Class">
    @foreach (var item in Model.Tabs)
    {
        <li class="@Html.WriteIf(Model.IsSelected(item), "active") @Html.WriteIf(item.IsDisabled || Model.DisableAllButActive, "disabled")">
            <a href="@(item.IsDisabled || Model.DisableAllButActive ? "javascript:;" : string.Format("#{0}", item.TabIndex.ToTab()))" data-url="@item.Url" data-toggle="tab">
                @item.Title
            </a>
        </li>
    }
</ul>