﻿@model FixItTron.Domain.ServicesAndMaterialsTableRowModel

<tr role="row">
    <td>
        @Html.DisplayFor(model => model.PerformanceDate)
    </td>
    <td>
        <a href="@Url.Action(MVC.Orders.Details().AddRouteValue("orderNumber", Model.OrderNumber))" class="js-modal-action">
            @Html.DisplayFor(model => model.OrderNumber)
        </a>
    </td>
    <td>
        @Html.DisplayFor(model => model.Type)
    </td>
    <td>
        @Html.DisplayFor(model => model.Address)
    </td>
    <td>
        @Html.DisplayFor(model => model.Category)
    </td>
    <td>
        @Html.DisplayFor(model => model.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.Count)
    </td>
    <td>
        @Html.DisplayFor(model => model.Amount)
    </td>
    <td></td>
</tr>