﻿@model FixItTron.Web.Host.Areas.Administration.Models.Configurations.ConfigurationTableRowModel
<td>
    @Html.ActionLink(Model.Name, MVC.Administration.Configuration.Edit(Model.RowId), new { @class = "js-entity-action " })
</td>
<td>
    @Html.DisplayFor(model => model.Value)
</td>
<td class="actions">
    @Html.DisplayFor(model => model.Actions)
</td>
