﻿@model ServicesAndMaterialsFilterModel

@Html.HiddenFor(model => model.DefaultFilter)
<td rowspan="1" colspan="1">
    @Html.EditorFor(model => model.PerformanceDate)
</td>

<td rowspan="1" colspan="1">
    @Html.TextBoxFor(model => model.OrderNumber, new { @class = "form-control form-filter" })
</td>

<td rowspan="1" colspan="1">
    @Html.DropDownListFor(model => model.TypeId, Model.ServicesAndMaterialsTypesSelectList, new { @class = "form-control form-filter input-small" })
</td>

<td rowspan="1" colspan="1">
    @Html.ListBoxFor(model => model.Address, Model.AddressesSelectList, new { @class = "form-control form-filter select2me" })
</td>

<td rowspan="1" colspan="1">
    @Html.ListBoxFor(model => model.CategoryIds, Model.CategoriesSelectList, new { @class = "form-control form-filter select2me" })
</td>

<td rowspan="1" colspan="1">
    @Html.ListBoxFor(model => model.Names, Model.ServiceAndMaterialsDescriptionsSelectList, new { @class = "form-control form-filter input-large select2me" })
</td>

<td rowspan="1" colspan="1">
    @Html.EditorFor(model => model.Count)
</td>

<td rowspan="1" colspan="1">
    @Html.EditorFor(model => model.Amount)
</td>