﻿@model Dictionary<string, string>

@{
    Layout = null;
    int count = Model.Count();
    int index = 0;
}
@if (Model.Any())
{
    <ul class="page-breadcrumb breadcrumb">
        @if (!(Model.Keys.ElementAt(0) == ApplicationStrings.Home))
        {
            <li>
                <i class="fa fa-home"></i>
                @Html.ActionLink(ApplicationStrings.Home, MVC.Home.Index())
            </li>
        }

        @foreach (var bc in Model)
        {
            index++;
            <li>
                @if (index == 1 && bc.Key == ApplicationStrings.Home)
                {
                    <i class="fa fa-home"></i>
                }

                @if (count == index)
                {
                    <span>@bc.Key</span>
                }
                else
                {
                    <a href="@bc.Value">
                        @bc.Key
                    </a>
                    @*<i class="fa fa-angle-right"></i>*@
                }
            </li>
        }
    </ul>
}