﻿@using FixItTron.Web.Host.Models.Infrastructure;
@model FixItTron.Web.Host.Models.Infrastructure.SideMenuViewModel
<ul class="js-sidemenu page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
    <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
    <li class="sidebar-toggler-wrapper">
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler">
        </div>
        <!-- END SIDEBAR TOGGLER BUTTON -->
    </li>
    <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
    @*<li class="sidebar-search-wrapper">
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
        <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
        <form class="sidebar-search " action="extra_search.html" method="POST">
            <a href="javascript:;" class="remove">
                <i class="icon-close"></i>
            </a>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                </span>
            </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>*@

    @if (Model.Items.Any())
    {
        int index = 0;
        foreach (var item in Model.Items)
        {
            <li class="@Html.WriteIf(index == 0, "start") @Html.WriteIf(item.Selected, "active open") @item.CssClass">

                <a href="@Html.WriteIf(!string.IsNullOrEmpty(item.Href), item.Href) @(item.SubMenu.Any() ? "javascript:;": string.Empty)">
                    @renderMenuIcon(item.Tag)
                    <span class="title">@item.Title</span>
                    @renderArrow(item)
                </a>
                @renderSubMenu(item)
            </li>
        }
    }
</ul>

@helper renderSubMenu(MenuItem item)
{
    if (item.SubMenu.Any())
    {
        <ul class="sub-menu" style="@Html.WriteIf(!item.SubMenu.Any(x => x.Selected), "display: none;")">
            @foreach (var subItem in item.SubMenu)
            {
                <li class="@Html.WriteIf(subItem.Selected, "active") @subItem.CssClass">

                    <a href="@Html.WriteIf(!string.IsNullOrEmpty(subItem.Href), subItem.Href)">
                        @renderMenuIcon(subItem.Tag)
                        @subItem.Title
                        @renderArrow(subItem)
                    </a>
                    @renderSubMenu(subItem)
                </li>
            }
        </ul>
    }
}

@helper renderMenuIcon(string tag)
{
    if (!string.IsNullOrWhiteSpace(tag))
    {
        <i class="@tag"></i>
    }
}


@helper renderArrow(MenuItem item)
{
    if (item.Selected)
    {
        <span class="selected"></span>
    }
    if (item.SubMenu.Any())
    {
        <span class="arrow @Html.WriteIf(item.Selected, "open")"></span>
    }
}