﻿@model FixItTron.Web.Host.Areas.Administration.Models.RoleTableRowModel
<td>
    @Html.ActionLink(Model.Name, MVC.Administration.Roles.Edit(Model.RowId))
</td>
<td>
    @Model.UserCount
    @*@Html.ActionLink(Model.UserCount.ToString(), MVC.Employees.Index().AddRouteValue("EmployeeIds", Model.EmployeeIds))*@
    @*@Html.ActionLinkWithList(Model.UserCount.ToString(), MVC.Employees.Index(), new { EmployeeIds = Model.EmployeeIds })*@
</td>
<td class="actions">
    @*@Html.DisplayFor(model => model.Actions)*@
</td>