﻿@model FixItTron.Web.Host.Areas.Administration.Models.Events.AddEditEventViewModel
@{
    ViewBag.Title = ApplicationStrings.CreateEvent;
    ViewContext.FormContext = new FormContext();
}
@using (Html.BeginForm(MVC.Administration.Events.Create(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal " }))
{

    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user"></i>@ApplicationStrings.NewEvent
            </div>
            @*@Html.Partial(MVC.Shared.Views.DetailsActionsToolbar)*@
            <div class="actions btn-set">
                <a class="btn default js-reset-tab" href="@Url.Action("index")"><i class="fa fa-angle-left"></i>&nbsp;@ApplicationStrings.Back</a>
                <button class="btn green js-reset-tab"><i class="fa fa-check"></i> @ApplicationStrings.Save</button>

            </div>
        </div>

        <div class="form-body">
            @Html.ValidationSummary(true, ApplicationStrings.FormIsNotValidTakeALook, new { @class = "alert alert-danger" })
            @*<div class="tab-content">
                <div class="tab-pane fade active in" id="tab_main">*@
            @Html.EditorForModel()
            @*</div>
                </div>*@
        </div>
    </div>
}