﻿@model FixItTron.Web.Host.Areas.Administration.Models.Events.AddEditEventViewModel
@{
    ViewBag.Title = ApplicationStrings.EditEvent;
    ViewContext.FormContext = new FormContext();
}

@using (Html.BeginForm(MVC.Administration.Events.Edit(), FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
{
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-user"></i>@Model.Name
            </div>
            <div class="actions btn-set">
                <a href="@Url.Action(MVC.Administration.Events.Index())" name="navigate-back" class="btn default"><i class="fa fa-angle-left"></i> @ApplicationStrings.Back</a>
                <button class="btn btn-success"><i class="fa fa-check"></i> @ApplicationStrings.Save</button>
            </div>
        </div>
        <div class="form-body">
            @Html.ValidationSummary(true, ApplicationStrings.FormIsNotValidTakeALook, new { @class = "alert alert-danger" })
            @Html.EditorForModel(new { EditMode = ViewBag.IsEdit })
        </div>
    </div>
}

@section scripts
{
    <script>
        $(function () {
            changeColor($('#BackgroundColor'));
        });
    </script>
}