﻿@model FixItTron.Domain.OrderDetailsModel

@helper StaticInfo(string title, string value)
{
    <div class="row static-info">
        <div class="col-md-3 name">
            @title:
        </div>
        <div class="col-md-7 value">
            @value
        </div>
    </div>
}

<div class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@ApplicationStrings.Details</h4>
            </div>
            <div class="modal-body">
                @StaticInfo("შეკვეთის #", Model.OrderNumber)
                @StaticInfo("შესრულების თარიღი", Model.PerformanceDate.ToShortDate())
                @StaticInfo("მისამართი", Model.Address)
                @StaticInfo("შეკვეთის ტიპი", Model.OrderType)
                @StaticInfo("შეკვეთის შინაარსი", Model.OrderDescription)
                <hr />
                @Html.DisplayFor(model => model.Services, "ServiceList")
                @Html.DisplayFor(model => model.Materials, "MaterialList")
                <div class="row static-info">
                    <div class="col-md-9 name">
                        სულ მომსახურების და მასალების ღირებულება
                    </div>
                    <div class="col-md-3 value">
                        @Model.SumServicesAndMaterials()
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@ApplicationStrings.Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->