﻿@model OrdersListViewModel
@{
    bool hasData = Model.Orders.Any();
    ViewBag.Title = ApplicationStrings.Orders;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cog font-green-sharp"></i>
                    @*<i class="icon-basket font-green-sharp"></i>*@
                    <span class="caption-subject font-green-sharp bold uppercase">@ApplicationStrings.OrdersList</span>
                    <span class="caption-helper hide">...</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-share"></i> @ApplicationStrings.Tools <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="@Url.Action(MVC.Orders.Export().AddRouteValues(Model.Filter.GetRouteValues()).AddRouteValues(Model.CurrentPageInformation).AddRouteValues(Model.SortSpecification))">
                                    @ApplicationStrings.ExportToExcel
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div id="datatable_products_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        @*<div class="table-scrollable">*@
                        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="datatable_products" aria-describedby="datatable_products_info" role="grid">
                            <colgroup>
                                <col width="100" />
                                <col />
                                <col width="160" />
                                <col width="160" />
                                <col />
                                <col />
                                <col width="120" />
                                <col width="120" />
                                <col width="120" />
                                <col width="120" />
                                <col width="100" />
                                <col width="80" />
                                <col width="80" />
                            </colgroup>
                            <thead>
                                <tr role="row" class="heading">
                                    @Html.DisplayFor(model => model.Headers, new { SortLink = Model.SortLink })
                                </tr>
                                <tr role="row" class="filter" data-filter-url="@Url.Action(MVC.Orders.Index())" data-clear-url="@Url.Action(MVC.Orders.Index())">
                                    @Html.EditorFor(model => model.Filter)
                                    <td rowspan="1" colspan="1">
                                        <div class="margin-bottom-5">
                                            <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> @ApplicationStrings.Search</button>
                                        </div>
                                        <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> @ApplicationStrings.Reset</button>
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                @Html.DisplayFor(model => model.Orders)
                            </tbody>
                        </table>
                        @if (!hasData)
                        {
                            <div id="no-data">
                                <div class="icon">
                                </div>
                                <div class="justif">
                                    <h4><i class="fa fa-lg fa-eye-slash"></i>&nbsp;@ApplicationStrings.NoDataHeader</h4>
                                </div>
                            </div>
                        }
                        @*</div>*@
                        <div class="row">
                            @if (Model.Orders.Any() && Model.Pager != null)
                            {
                                @Html.DisplayFor(model => model.Pager)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(function () {
            App.initModalActions();
        });
    </script>
}