﻿@model EditBranchViewModel

<div class="form-group">
    <div class="col-md-6">
        @Html.HiddenFor(model => model.BranchId)
        @Html.HiddenFor(model => model.OriginalBranchName)
        @Html.HiddenFor(model => model.Address)

        @Html.TextBoxFor(model => model.BranchName, new { @class = "form-control", placeholder = ApplicationStrings.Branch })
        @Html.ValidationMessageFor(model => model.BranchName)
        <span class="help-block">
        </span>
    </div>
    <label class="col-md-6 control-label">
        @Model.Address
    </label>
</div>