﻿@model FixItTron.Web.Host.Areas.Administration.Models.Companies.AddEditCompanyViewModel

@Html.HiddenFor(model => model.CompanyId)
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-horizontal">
    <div class="form-group">
        @Html.RequiredLabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
</div>