﻿@model FixItTron.Web.Host.Models.Profile.ChangePasswordViewModel

@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@Html.HiddenFor(model => model.Name)
<div class="form-group">
    @Html.LabelFor(model => model.CurrentPassword, new { @class = "control-label" })
    @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.NewPassword, new { @class = "control-label" })
    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
</div>
<div class="form-group">
    @Html.LabelFor(model => model.VerifyPassword, new { @class = "control-label" })
    @Html.PasswordFor(model => model.VerifyPassword, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.VerifyPassword, "", new { @class = "text-danger" })
</div>