﻿@model FixItTron.Web.Host.Models.Shared.DateTimeViewModel

@{
    string labelFor = string.Empty;

    RouteValueDictionary attributes = null;
    if (ViewData.ContainsKey("htmlAttributes"))
    {
        attributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);
    }
    else
    {
        attributes = new RouteValueDictionary();
    }

    if (attributes.ContainsKey("id"))
    {
        labelFor = attributes["id"].ToString();
    }
}

<div class="form-group">
    @Html.LabelFor(model => model.Date, new { @class = "col-md-4 control-label" })
    <div class="col-md-4">
        @Html.EditorFor(model => model.Date)
        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.StartHour, new { @class = "col-md-4 control-label" })
    <div class="col-md-3">
        @Html.DropDownListFor(model => model.StartHour, Model.StartHourSelectList, new { @class = "select2me form-control" })
        @Html.ValidationMessageFor(model => model.StartHour, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.EndHour, new { @class = "col-md-4 control-label" })
    <div class="col-md-3">
        @Html.DropDownListFor(model => model.EndHour, Model.EndHourSelectList, new { @class = "select2me form-control" })
        @Html.ValidationMessageFor(model => model.EndHour, "", new { @class = "text-danger" })
    </div>
    @*<div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.EndHourIsInNextDay, new { @class = "col-md-8 control-label" })
                <div class="col-md-3">
                    @Html.CheckBoxFor(model => model.EndHourIsInNextDay, new { @class = "form-control1" })
                    @Html.ValidationMessageFor(model => model.EndHourIsInNextDay, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>*@
</div>
<hr />



