﻿@model DateTime?
@{
    RouteValueDictionary attributes = null;
    if (ViewData.ContainsKey("htmlAttributes"))
    {
        attributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);
    }
    else
    {
        attributes = new RouteValueDictionary();
    }
    if (!attributes.ContainsKey("class"))
    {
        attributes["class"] = string.Empty;
    }
    attributes["class"] += " form-control";
}

@*@Html.TextBox(string.Empty, Model.HasValue ? Model.Value.ToShortDateString() : string.Empty, attributes)*@

<div class="input-group input-small date date-picker" data-date-format="dd.mm.yyyy">
    @Html.TextBox(string.Empty, Model.HasValue ? Model.Value.ToShortDateString() : string.Empty, attributes)
    <span class="input-group-btn">
        <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
    </span>
</div>
