﻿@model FixItTron.Web.Host.Models.Shared.StartEndHourDateViewModel

@{
    string labelFor = string.Empty;

    RouteValueDictionary attributes = null;
    if (ViewData.ContainsKey("htmlAttributes"))
    {
        attributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);
    }
    else
    {
        attributes = new RouteValueDictionary();
    }

    if (attributes.ContainsKey("id"))
    {
        labelFor = attributes["id"].ToString();
    }
}

<div class="col-md-8">
    <div class="form-group">
        @Html.LabelFor(model => model.StartHour, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.StartHour, Model.StartHourSelectList, new { @class = "select2me form-control" })
            @Html.ValidationMessageFor(model => model.StartHour, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        @Html.LabelFor(model => model.EndHour, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.EndHour, Model.EndHourSelectList, new { @class = "select2me form-control" })
            @Html.ValidationMessageFor(model => model.EndHour, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
<div class="col-md-8">
    <div class="form-group">
        @Html.LabelFor(model => model.DurationBetweenSchedules, new { @class = "col-md-4 control-label" })
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.DurationBetweenSchedules, Model.DurationBetweenSchedulesSelectList, new { @class = "select2me form-control" })
            @Html.ValidationMessageFor(model => model.DurationBetweenSchedules, "", new { @class = "text-danger" })
        </div>
    </div>
</div>





