﻿@model TimeSpan?
@{
    RouteValueDictionary attributes = null;
    if (ViewData.ContainsKey("htmlAttributes"))
    {
        attributes = HtmlHelper.AnonymousObjectToHtmlAttributes(ViewData["htmlAttributes"]);
    }
    else
    {
        attributes = new RouteValueDictionary();
    }
    if (!attributes.ContainsKey("class"))
    {
        attributes["class"] = string.Empty;
    }
    attributes["class"] += " form-control timepicker timepicker-24";
}

    @Html.TextBox(string.Empty, Model.HasValue ? Model.ToString() : null, attributes)
    <span class="input-group-btn">
        <button class="btn default" type="button"><i class="fa fa-clock-o"></i></button>
    </span>