﻿@model Wandio.Domain.Services.Models.UnboundedPeriod
<div class="input-group date date-picker margin-bottom-5" data-date-format="dd.mm.yyyy">
    @Html.EditorFor(model => model.StartDate, "DateTimeDefault", new { htmlAttributes = new { placeholder = ApplicationStrings.FromPlaceholder, @class = "form-control form-filter input-sm input-xmedium" } })
    <span class="input-group-btn">
        <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
    </span>
</div>
<div class="input-group date date-picker" data-date-format="dd.mm.yyyy">
    @Html.EditorFor(model => model.EndDate, "DateTimeDefault", new { htmlAttributes = new { placeholder = ApplicationStrings.ToPlaceholder, @class = "form-control form-filter input-sm input-xmedium" } })
    <span class="input-group-btn">
        <button class="btn btn-sm default" type="button"><i class="fa fa-calendar"></i></button>
    </span>
</div>