﻿@model Wandio.Domain.Services.Models.UnboundedRange<int>
<div class="margin-bottom-5">
    @Html.TextBoxFor(model => model.From, new { @class = "form-control form-filter input-sm input-xsmall", placeholder = ApplicationStrings.FromPlaceholder })
</div>
<div class="">
    @Html.TextBoxFor(model => model.To, new { @class = "form-control form-filter input-sm input-xsmall", placeholder = ApplicationStrings.ToPlaceholder })
</div>