﻿@model OrdersFilterModel

@Html.HiddenFor(model => model.DefaultFilter)
<td rowspan="1" colspan="1">
    @Html.TextBoxFor(model => model.OrderNumber, new { @class = "form-control form-filter" })
</td>

<td rowspan="1" colspan="1">
    @Html.ListBoxFor(model => model.OrderTypeIds, Model.OrderTypesSelectList, new { @class = "form-control form-filter input-small select2me" })
</td>

<td rowspan="1" colspan="1">
    @Html.EditorFor(model => model.RegistrationDate)
</td>

<td rowspan="1" colspan="1">
    @Html.EditorFor(model => model.PerformanceDate)
</td>

<td rowspan="1" colspan="1">
    @Html.ListBoxFor(model => model.Address, Model.AddressesSelectList, new { @class = "form-control form-filter select2me" })
</td>

<td rowspan="1" colspan="1">
    @Html.ListBoxFor(model => model.CategoryIds, Model.CategoriesSelectList, new { @class = "form-control form-filter select2me input-small" })
</td>

<td rowspan="1" colspan="1">
    @Html.EditorFor(model => model.Amount)
</td>

<td rowspan="1" colspan="1">
    @Html.EditorFor(model => model.ServiceAmount)
</td>

<td rowspan="1" colspan="1">
    @Html.EditorFor(model => model.MaterialAmount)
</td>

<td rowspan="1" colspan="1">
    @Html.EditorFor(model => model.OtherAmount)
</td>

<td rowspan="1" colspan="1">
    @Html.ListBoxFor(model => model.StatusIds, Model.StatusesSelectList, new { @class = "form-control form-filter input-small select2me" })
</td>

<td rowspan="1" colspan="1"></td>