﻿@model ServicesAndMaterialsListViewModel
@{
    bool hasData = Model.ServicesAndMaterials.Any();
    ViewBag.Title = ApplicationStrings.ServicesAndMaterials;
}
<div class="tabbable-custom ">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#tab_list" data-toggle="tab">
                @ApplicationStrings.Table
            </a>
        </li>
        <li>
            <a href="#tab_statistics" data-toggle="tab" class="js-chart-load-handler">
                @ApplicationStrings.Chart
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade active in" id="tab_list">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                @*<i class="fa fa-cog font-green-sharp"></i>
                                    <i class="fa fa-shopping-cart font-green-sharp"></i>
                                    <i class="icon-basket font-green-sharp"></i>*@

                                <span class="caption-subject font-green-sharp bold uppercase">@ApplicationStrings.ServicesAndMaterialsList</span>
                                <span class="caption-helper hide">...</span>
                            </div>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                                        <i class="fa fa-share"></i> @ApplicationStrings.Tools <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li>
                                            <a href="@Url.Action(MVC.ServicesAndMaterials.Export().AddRouteValues(Model.Filter.GetRouteValues()).AddRouteValues(Model.CurrentPageInformation).AddRouteValues(Model.SortSpecification))">
                                                @ApplicationStrings.ExportToExcel
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-container">
                                <div id="datatable_products_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                                    @*<div class="table-scrollable">*@
                                    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="datatable_products" aria-describedby="datatable_products_info" role="grid">
                                        <colgroup>
                                            <col width="160" />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                            <col />
                                            <col width="80" />
                                        </colgroup>
                                        <thead>
                                            <tr role="row" class="heading">
                                                @Html.DisplayFor(model => model.Headers, new { SortLink = Model.SortLink })
                                            </tr>
                                            <tr role="row" class="filter" data-filter-url="@Url.Action(MVC.ServicesAndMaterials.Index())" data-clear-url="@Url.Action(MVC.ServicesAndMaterials.Index())">
                                                @Html.EditorFor(model => model.Filter)
                                                <td rowspan="1" colspan="1">
                                                    <div class="margin-bottom-5">
                                                        <button class="btn btn-sm yellow filter-submit margin-bottom"><i class="fa fa-search"></i> @ApplicationStrings.Search</button>
                                                    </div>
                                                    <button class="btn btn-sm red filter-cancel"><i class="fa fa-times"></i> @ApplicationStrings.Reset</button>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @Html.DisplayFor(model => model.ServicesAndMaterials)
                                        </tbody>
                                    </table>
                                    @if (!hasData)
                                    {
                                        <div id="no-data">
                                            <div class="icon">
                                            </div>
                                            <div class="justif">
                                                <h4><i class="fa fa-lg fa-eye-slash"></i>&nbsp;@ApplicationStrings.NoDataHeader</h4>
                                            </div>
                                        </div>
                                    }
                                    @*</div>*@
                                    <div class="row">
                                        @if (Model.ServicesAndMaterials.Any() && Model.Pager != null)
                                        {
                                            @Html.DisplayFor(model => model.Pager)
                                        }
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="tab_statistics">
            @*@Html.Action(MVC.ServicesAndMaterials.StatisticsChart(null, StatisticsChartType.MaterialsByFilials))
                @Html.Action(MVC.ServicesAndMaterials.StatisticsChart(null, StatisticsChartType.MaterialsByCategories))
                @Html.Action(MVC.ServicesAndMaterials.StatisticsChart(null, StatisticsChartType.MaterialsByDescriptions))

                @Html.Action(MVC.ServicesAndMaterials.StatisticsChart(null, StatisticsChartType.ServiceCountByCategory))
                @Html.Action(MVC.ServicesAndMaterials.StatisticsChart(null, StatisticsChartType.ServiceDescriptionCount))*@
        </div>
    </div>
</div>

@section styles{
    <link href="~/Assets/plugins/_amcharts/plugins/export/export.css" rel="stylesheet" />
}

@section scripts
{
    @Scripts.Render("~/bundles/_charts")
    <script src="~/Assets/scripts/statistics.js"></script>
    <script type="text/javascript">
        $(function () {
            App.initModalActions();

            $('.js-chart-load-handler').one('click', function () {
                var container = $('#tab_statistics');
                container.append('<div style="width:50px;margin:20px auto;"><i class="fa fa-pulse fa-spinner" style="color:red;font-size:30px;"></i></div>');

                $.get('@Url.Action(MVC.ServicesAndMaterials.GetStatistics())', function (data) {
                    container.empty().append(data);

                    Statistics.init();
                    App.initSelect2();

                }).done(function () {
                });
            });
        });
    </script>
}