﻿@model StatisticsViewModel
@{
    bool showBranch = Model.Type == StatisticsChartType.ServiceCategoryCountByFilials ||
        Model.Type == StatisticsChartType.ServiceCountByCategory ||
        Model.Type == StatisticsChartType.ServiceDescriptionCount ||
        Model.Type == StatisticsChartType.ServiceDescriptionCountByFilials;
}
<div class="row margin-top-10 target-@Model.Type.ToString() row-chart">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font"></i>
                    <span class="caption-subject theme-font bold uppercase">@Model.Title</span>
                    <span class="caption-helper hide1">@Model.Description...</span>
                </div>
                @Helpers.ChartToolbar()
                <div class="actions" style="">
                    <form class="form-inline">
                        @if (Model.Type == StatisticsChartType.MaterialsByDescriptions || Model.Type == StatisticsChartType.MaterialsCountByDescriptions)
                        {
                            <a class="btn js-chart-filter @(Model.Type == StatisticsChartType.MaterialsByDescriptions ? "btn-primary" : "btn-default")"
                               href="@Url.Action(MVC.ServicesAndMaterials.StatisticsChart().AddRouteValue("type", StatisticsChartType.MaterialsByDescriptions))"
                               data-target="@StatisticsChartType.MaterialsByDescriptions.ToString()"
                               data-target-current="@Model.Type.ToString()">
                                @ApplicationStrings.ByValue
                            </a>
                            <a class="btn js-chart-filter @(Model.Type == StatisticsChartType.MaterialsCountByDescriptions ? "btn-primary" : "btn-default")"
                               href="@Url.Action(MVC.ServicesAndMaterials.StatisticsChart().AddRouteValue("type", StatisticsChartType.MaterialsCountByDescriptions))"
                               data-target="@StatisticsChartType.MaterialsCountByDescriptions.ToString()"
                               data-target-current="@Model.Type.ToString()"
                               style="margin-right:5px;">
                                @ApplicationStrings.ByQuantity
                            </a>

                            <div class="form-group">
                                @Html.ListBoxFor(model => model.CategoryIds, Model.CategoriesSelectList, new
                   {
                       @class = "form-control js-form-filter-handler input-small select2me",
                       data_target = Model.Type.ToString(),
                       data_chart_url = Url.Action(MVC.ServicesAndMaterials.StatisticsChart().AddRouteValue("type", Model.Type))
                   })
                            </div>
                        }
                        @if (showBranch)
                        {
                            <div class="form-group">
                                @if (Model.Type == StatisticsChartType.ServiceCategoryCountByFilials || Model.Type == StatisticsChartType.ServiceCountByCategory)
                                {
                                    @Html.DropDownListFor(model => model.BranchId, Model.BranchsSelectList, new
                   {
                       @class = "form-control input-small js-branch-handler js-form-filter-handler",
                       data_target = Model.Type == StatisticsChartType.ServiceCategoryCountByFilials ? StatisticsChartType.ServiceCountByCategory.ToString() : StatisticsChartType.ServiceCategoryCountByFilials.ToString(),
                       data_target_current = Model.Type.ToString(),
                       data_chart_total_url = Url.Action(MVC.ServicesAndMaterials.StatisticsChart().AddRouteValue("type", StatisticsChartType.ServiceCountByCategory)),
                       data_chart_url = Url.Action(MVC.ServicesAndMaterials.StatisticsChart().AddRouteValue("type", StatisticsChartType.ServiceCategoryCountByFilials))
                   })
                                }
                                
                                @if (Model.Type == StatisticsChartType.ServiceDescriptionCountByFilials || Model.Type == StatisticsChartType.ServiceDescriptionCount)
                                {
                                    @Html.DropDownListFor(model => model.BranchId, Model.BranchsSelectList, new
                   {
                       @class = "form-control input-small js-branch-handler js-form-filter-handler",
                       data_target = Model.Type == StatisticsChartType.ServiceDescriptionCountByFilials ? StatisticsChartType.ServiceDescriptionCount.ToString() : StatisticsChartType.ServiceDescriptionCountByFilials.ToString(),
                       data_target_current = Model.Type.ToString(),
                       data_chart_total_url = Url.Action(MVC.ServicesAndMaterials.StatisticsChart().AddRouteValue("type", StatisticsChartType.ServiceDescriptionCount)),
                       data_chart_url = Url.Action(MVC.ServicesAndMaterials.StatisticsChart().AddRouteValue("type", StatisticsChartType.ServiceDescriptionCountByFilials))
                   })
                                }
                            </div>
                        }
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.YearMonth.YearStart, Model.YearsSelectList, new
                   {
                       @class = "form-control input-xsmall js-form-filter-handler",
                       data_target = Model.Type.ToString(),
                       data_chart_url = Url.Action(MVC.ServicesAndMaterials.StatisticsChart().AddRouteValue("type", Model.Type))
                   })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.YearMonth.MonthStart, Model.MonthsSelectList, new
                   {
                       @class = "form-control input-xsmall js-form-filter-handler",
                       data_target = Model.Type.ToString(),
                       data_chart_url = Url.Action(MVC.ServicesAndMaterials.StatisticsChart().AddRouteValue("type", Model.Type))
                   })
                        </div>
                        <label for="" class="control-label">:</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.YearMonth.YearEnd, Model.YearsSelectList, new
                   {
                       @class = "form-control input-xsmall js-form-filter-handler",
                       data_target = Model.Type.ToString(),
                       data_chart_url = Url.Action(MVC.ServicesAndMaterials.StatisticsChart().AddRouteValue("type", Model.Type))
                   })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.YearMonth.MonthEnd, Model.MonthsSelectList, new
                   {
                       @class = "form-control input-xsmall js-form-filter-handler",
                       data_target = Model.Type.ToString(),
                       data_chart_url = Url.Action(MVC.ServicesAndMaterials.StatisticsChart().AddRouteValue("type", Model.Type))
                   })
                        </div>
                    </form>
                </div>

            </div>
            <div class="portlet-body">
                <div id="chart-@Model.Type.ToString()"
                     data-type="@Model.Type.ToString()"
                     class="chart" data-set="@Json.Encode(Model.Items)">
                </div>
            </div>
        </div>
    </div>
</div>