﻿@model FinancesListViewModel
@{
    bool hasData = Model.Finances.Any();
    ViewBag.Title = ApplicationStrings.Finances;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-sharp bold uppercase">@ApplicationStrings.Finances</span>
                    <span class="caption-helper hide">...</span>
                </div>
                <div class="actions" style="width: 275px;">
                    <div class="btn-group">
                        <a class="btn btn-default btn-circle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-share"></i> @ApplicationStrings.Tools <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="@Url.Action(MVC.Finances.Export(Model.Year))" id="js-export" data-base-url="@Url.Action(MVC.Finances.Export())">
                                    @ApplicationStrings.ExportToExcel
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5" style="margin-left: 23px;">
                        @Html.DropDownListFor(model => model.Year, Model.YearsSelectList, new
                   {
                       @class = "form-control js-filter-handler",
                       data_table_url = Url.Action(MVC.Finances.FilterFinances()),
                       data_chart_url = Url.Action(MVC.Finances.StatisticsChart())
                   })
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-container">
                    <div id="datatable_products_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                        <div class="table-scrollable js-table-container">
                            @Html.DisplayForModel()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Action(MVC.Finances.StatisticsChart(Model.Year, StatisticsChartType.FinancesSumAccrual))

@section styles{
    <link href="~/Assets/plugins/_amcharts/plugins/export/export.css" rel="stylesheet" />
}

@section scripts
{
    @Scripts.Render("~/bundles/_charts")
    <script src="~/Assets/scripts/statistics.js"></script>
    <script type="text/javascript">
        $(function () {
            Statistics.initFinances();
            App.initTableRowExpander();

            $(document).on('change', '.js-filter-handler', function (event) {
                event.preventDefault();
                var $this = $(this);
                var $export = $('#js-export');

                Metronic.blockUI({
                    target: '.js-table-container',
                    animate: true
                });

                var url = $this.data('table-url') + "?year=" + $this.val();
                if (url) {
                    $.get(url, function (data) {
                        var container = $('.js-table-container');
                        container.empty().html(data);
                    }).done(function () {
                        $export.attr('href', $export.data('base-url') + '?year=' + $this.val());
                        window.history.pushState('Finances', 'Index', '@Url.Action(MVC.Finances.Index())?year=' + $this.val());
                        Metronic.unblockUI('.js-table-container');
                        App.initTableRowExpander();

                        var chartFilter = $('.js-chart-filter.btn-primary');
                        var target = chartFilter.data('target');
                        var targetContainer = '.target-' + chartFilter.data('target-current');
                        Metronic.blockUI({
                            target: targetContainer,
                            animate: true
                        });
                        var year = $('.js-filter-handler').val();
                        var chartUrl = chartFilter.attr('href') + "&year=" + (year ? year : '');

                        Statistics.initHandleStatisticsLoad(chartUrl, targetContainer, target);
                    });
                }
                else {
                    Metronic.unblockUI('.js-table-container');
                    bootbox.alert('Oops! Something went wrong');
                }
            });
        });
    </script>
}