﻿@model StatisticsViewModel

<div class="row margin-top-10 target-@Model.Type.ToString() row-chart">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font"></i>
                    <span class="caption-subject theme-font bold uppercase">@Model.Title</span>
                    <span class="caption-helper hide">@Model.Description...</span>
                </div>
                @Helpers.ChartToolbar()
                <div class="actions">
                    <a class="btn js-chart-filter @(Model.Type == StatisticsChartType.FinancesMaterials ? "btn-primary" : "btn-default")"
                       href="@Url.Action(MVC.Finances.StatisticsChart().AddRouteValue("type", StatisticsChartType.FinancesMaterials))"
                       data-target="@StatisticsChartType.FinancesMaterials.ToString()"
                       data-target-current="@Model.Type.ToString()">
                        @ApplicationStrings.Material
                    </a>
                    <a class="btn js-chart-filter @(Model.Type == StatisticsChartType.FinancesSumAccrual ? "btn-primary" : "btn-default")"
                       href="@Url.Action(MVC.Finances.StatisticsChart().AddRouteValue("type", StatisticsChartType.FinancesSumAccrual))"
                       data-target="@StatisticsChartType.FinancesSumAccrual.ToString()"
                       data-target-current="@Model.Type.ToString()">
                        @ApplicationStrings.SumAccrualAmount
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                @if (Model.Type == StatisticsChartType.FinancesSumAccrual)
                {
                    <div id="chart-@Model.Type.ToString()"
                         data-type="@Model.Type.ToString()"
                         class="chart" data-set="@Model.JsonObject">
                    </div>
                }
                else
                {
                    <div id="chart-@Model.Type.ToString()"
                         data-type="@Model.Type.ToString()"
                         class="chart" data-set="@Json.Encode(Model.Items)">
                    </div>
                }
            </div>
        </div>
    </div>
</div>