﻿@model FixItTron.Web.Host.Areas.Administration.Models.Events.AddEditEventViewModel

@{
    var img = Url.Action(MVC.Administration.Events.EventLogo(Model.EventId));
    var avatar = Model.HasImage ? img : "/Assets/img/no-image.png";
    bool isEdit = ViewBag.EditMode ?? false;
}

@Html.HiddenFor(model => model.EventId)
@Html.HiddenFor(model => model.HasImage)
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-horizontal">
    <div class="row col-md-6">
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.IsActive, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-small bootstrap-switch-animate bootstrap-switch-on">
                    <div class="bootstrap-switch-container">
                        @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control make-switch", @data_size = "small", @data_on_color = "success" } })
                    </div>
                </div>

                @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.EventCode, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.EventCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EventCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.CompanyId, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.CompanyId, Model.CompaniesSelectList, new { @class = "form-control select2me" })
                @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div style="float:left;">
                    @Html.EditorFor(model => model.StartDate)
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                <div style="float:left;width: 100px;margin-left: 10px;">
                    <div class="input-group">
                        @Html.EditorFor(model => model.StartTimeHour)
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-8">
                <div style="float:left;">
                    @Html.EditorFor(model => model.EndDate)
                    @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                </div>
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                <div style="float:left;width: 100px;margin-left: 10px;">
                    <div class="input-group">
                        @Html.EditorFor(model => model.EndTimeHour)
                    </div>
                </div>
                <div style="clear:both">
                    @Html.ValidationMessageFor(model => model.EndTimeHour, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.BackgroundColor, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.BackgroundColor, new { htmlAttributes = new { @class = "form-control js-backgroundcolor-input colorpicker" } })
                @Html.ValidationMessageFor(model => model.BackgroundColor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.ShowBackgroundLogo, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-small bootstrap-switch-animate bootstrap-switch-on">
                    <div class="bootstrap-switch-container">
                        @Html.EditorFor(model => model.ShowBackgroundLogo, new { htmlAttributes = new { @class = "form-control make-switch", @data_size = "small", @data_on_color = "success" } })
                    </div>
                </div>

                @Html.ValidationMessageFor(model => model.ShowBackgroundLogo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.ShowLogoOnShare, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-small bootstrap-switch-animate bootstrap-switch-on">
                    <div class="bootstrap-switch-container">
                        @Html.EditorFor(model => model.ShowLogoOnShare, new { htmlAttributes = new { @class = "form-control make-switch", @data_size = "small", @data_on_color = "success" } })
                    </div>
                </div>

                @Html.ValidationMessageFor(model => model.ShowLogoOnShare, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.ShowLogoOnPreview, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-small bootstrap-switch-animate bootstrap-switch-on">
                    <div class="bootstrap-switch-container">
                        @Html.EditorFor(model => model.ShowLogoOnPreview, new { htmlAttributes = new { @class = "form-control make-switch", @data_size = "small", @data_on_color = "success" } })
                    </div>
                </div>

                @Html.ValidationMessageFor(model => model.ShowLogoOnPreview, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.ShowSurvey, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-small bootstrap-switch-animate bootstrap-switch-on">
                    <div class="bootstrap-switch-container">
                        @Html.EditorFor(model => model.ShowSurvey, new { htmlAttributes = new { @class = "form-control make-switch", @data_size = "small", @data_on_color = "success" } })
                    </div>
                </div>

                @Html.ValidationMessageFor(model => model.ShowSurvey, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.FacebookAppSecret, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.FacebookAppSecret, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FacebookAppSecret, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.FacebookPageId, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.FacebookPageId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FacebookPageId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.RequiredLabelFor(model => model.FacebookPageAccessToken, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.FacebookPageAccessToken, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FacebookPageAccessToken, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    @*@Html.LabelFor(model => model.HasImage, htmlAttributes: new { @class = "control-label col-md-1" })*@
    <div class="col-md-6">
        <center>
            <ul class="list-unstyled profile-nav">
                <li>
                    <input type="file" id="doc-file" name="addBackgroundFile" />
                    <br />

                    <div class="event-logo-outer-container" style="@(Model.ShowBackgroundLogo ? "background-image:url('" + Model.BackgroundLogoFileName + "');background-size:cover;background-repeat:no-repeat;" : "")">
                        <div class="event-user-image">

                        </div>
                        <div class="event-logo">
                            @if (Model.HasImage)
                            {
                                <img src="@Model.LogoFileName" class="img-responsive" alt="">
                            }
                        </div>
                    </div>

                    <br />
                    <input type="file" id="doc-file" name="addFile" />
                </li>
            </ul>
        </center>
    </div>
    <hr />
    <div class="row col-md-6">
        <div class="form-group">
            <hr />
            @Html.LabelFor(model => model.MobileLogoFileName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <ul class="list-unstyled profile-nav">
                    <li>
                        @if (!string.IsNullOrWhiteSpace(Model.MobileLogoFileName))
                        {
                            <img src="@Model.MobileLogoFileName" class="img-responsive" alt="">
                        }

                        <br />
                        <input type="file" id="doc-file" name="addMobileFile" />
                    </li>
                </ul>
                @Html.ValidationMessageFor(model => model.MobileLogoFileName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <hr />
            @Html.LabelFor(model => model.InstagramLogoFileName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <ul class="list-unstyled profile-nav">
                    <li>
                        @if (!string.IsNullOrWhiteSpace(Model.InstagramLogoFileName))
                        {
                            <img src="@Model.InstagramLogoFileName" class="img-responsive" alt="">
                        }

                        <br />
                        <input type="file" id="doc-file" name="addInstagramFile" />
                    </li>
                </ul>
                @Html.ValidationMessageFor(model => model.InstagramLogoFileName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <hr />
            @Html.LabelFor(model => model.FacebookLogoFileName, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <ul class="list-unstyled profile-nav">
                    <li>
                        @if (!string.IsNullOrWhiteSpace(Model.FacebookLogoFileName))
                        {
                            <img src="@Model.FacebookLogoFileName" class="img-responsive" alt="">
                        }

                        <br />
                        <input type="file" id="doc-file" name="addFacebookFile" />
                    </li>
                </ul>
                @Html.ValidationMessageFor(model => model.FacebookLogoFileName, "", new { @class = "text-danger" })
            </div>
        </div>
        <center>
            <button class="btn green js-reset-tab"><i class="fa fa-check"></i> @ApplicationStrings.Save</button>
        </center>
    </div>
</div>
