﻿@model FixItTron.Web.Host.Areas.Administration.Models.Events.EventFilterViewModel
<td>
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.TextBoxFor(model => model.EventCode, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.DropDownListFor(model => model.CompanyId, Model.CompaniesSelectList, new { @class = "select2me form-control form-filter" })
</td>
<td>
    @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.EditorFor(model => model.StartDate)
</td>
<td>
    @Html.EditorFor(model => model.EndDate)
</td>
<td>
    @Html.EditorFor(model => model.PrintCount, "UnboundedIntRange")
</td>
<td>
    @Html.DropDownListFor(model => model.ShowLogoOnShare, Model.YesNoSelectList, new { @class = "select2me form-control form-filter" })
</td>
<td>
    @Html.DropDownListFor(model => model.ShowLogoOnPreview, Model.YesNoSelectList, new { @class = "select2me form-control form-filter" })
</td>
<td>
    @Html.DropDownListFor(model => model.IsActive, Model.YesNoSelectList, new { @class = "select2me form-control form-filter" })
</td>