﻿@model FixItTron.Web.Host.Areas.Administration.Models.ApplicationUsers.SurveyFilterViewModel
<td></td>
<td>
    @Html.TextBoxFor(model => model.EventName, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.TextBoxFor(model => model.Username, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.DropDownListFor(model => model.UserType, Model.UserTypesSelectList, new { @class = "select2me form-control form-filter" })
</td>
<td>
    @Html.DropDownListFor(model => model.SourceType, Model.SourceTypesSelectList, new { @class = "select2me form-control form-filter" })
</td>
<td>
    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.EditorFor(model => model.CreateDate)
</td>
<td>
    @Html.DropDownListFor(model => model.Gender, Model.GendersSelectList, new { @class = "select2me form-control form-filter" })
</td>
<td>
    @Html.DropDownListFor(model => model.Question1, Model.Question1AnswersSelectList, new { @class = "select2me form-control form-filter" })
</td>
<td>
    @Html.DropDownListFor(model => model.Question2, Model.Question2AnswersSelectList, new { @class = "select2me form-control form-filter" })
</td>