﻿@model IEnumerable<FixItTron.Domain.MaterialListItem>

<div style="max-height:400px; overflow-y:auto; margin: 10px 0 !important;">
    <table class="table table-hover table-bordered table-striped1">
        <colgroup>
            <col width="20">
            <col>
            <col width="110">
            <col width="90">
            <col width="110">
            <col width="100">
            <col width="110">
            <col width="90">
        </colgroup>
        <thead>
            <tr class="">
                <th>#</th>
                <th>მასალის დასახელება</th>
                <th>განზომილება</th>
                <th>რაოდეობა</th>
                <th>ერთეულის ღირებულება</th>
                <th>კოდი</th>
                <th>ჯამური ღირებულება</th>
                <th>გარანტია</th>
            </tr>
        </thead>
        <tbody>
            @{ int index = 1;}
            @foreach (var item in Model)
            {
                <tr>
                    <td>@index</td>
                    <td>@item.Description</td>
                    <td>@item.Dimension</td>
                    <td>@Html.DisplayFor(model => item.Count)</td>
                    <td>@Html.DisplayFor(model => item.Cost)</td>
                    <td>@item.Code</td>
                    <td>@Html.DisplayFor(model => item.Amount)</td>
                    <td>@item.Garanty</td>
                </tr>
                index++;
            }
            <tr>
                <td colspan="6" style="border-left:0;border-right:0;"><span class="bold">სულ მასალები:</span></td>
                <td style="border-left:0;border-right:0;">@Model.Sum(x => x.Amount).ToString("0.00")</td>
                <td style="border-left:0;border-right:0;"></td>
            </tr>
        </tbody>
    </table>
</div>