﻿@model FixItTron.Domain.OrderTableRowModel

<tr role="row">
    <td>
        <a href="@Url.Action(MVC.Orders.Details().AddRouteValue("orderNumber", Model.OrderNumber))" class="js-modal-action">
            @Html.DisplayFor(model => model.OrderNumber)
        </a>
    </td>
    <td>
        @Html.DisplayFor(model => model.OrderType)
    </td>
    <td>
        @Html.DisplayFor(model => model.RegistrationDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.PerformanceDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.Address)
    </td>
    <td>
        @Html.DisplayFor(model => model.Category)
    </td>
    <td>
        @Html.DisplayFor(model => model.Amount)
    </td>
    <td>
        @Html.DisplayFor(model => model.ServiceAmount)
    </td>
    <td>
        @Html.DisplayFor(model => model.MaterialAmount)
    </td>
    <td>
        @Html.DisplayFor(model => model.OtherAmount)
    </td>
    <td>
        @Html.DisplayFor(model => model.Status)
    </td>
    <td>
        @Html.DisplayFor(model => model.AccountingStatus)
    </td>
    <td></td>
</tr>