﻿@model IEnumerable<FixItTron.Domain.ServiceListItem>

@functions
{
    string[] hours = new string[] { "სთ", "საათი" };
    string[] minutes = new string[] { "წუთი", "წთ" };

    decimal hourPart = 0;
    decimal minutePart = 0;

    public string ExtractNumber(string numberStr)
    {
        return System.Text.RegularExpressions.Regex.Match(numberStr, @"\d+").Value;
    }

    public void TImeExtract(string time)
    {
        var timeParts = time.Split(new string[] { " " }, StringSplitOptions.RemoveEmptyEntries);

        if (timeParts.Count() > 1)
        {
            if (hours.Any(x => timeParts[0].Contains(x)))
            {
                hourPart += Int32.Parse(ExtractNumber(timeParts[0]));
            }
            if (minutes.Any(x => timeParts[1].Contains(x)))
            {
                minutePart += Int32.Parse(ExtractNumber(timeParts[1]));
            }
        }
        else
        {
            if (hours.Any(x => time.Contains(x)))
            {
                hourPart += Int32.Parse(ExtractNumber(time));
            }
            if (minutes.Any(x => time.Contains(x)))
            {
                minutePart += Int32.Parse(ExtractNumber(time));
            }
        }
    }
}

<div style="max-height:400px; overflow-y:auto; margin: 10px 0 !important;">
    <table class="table table-hover table-bordered table-striped1">
        <colgroup>
            <col width="20">
            <col>
            <col width="110">
            <col width="90">
            <col width="110">
            <col width="100">
            <col width="110">
            <col width="90">
        </colgroup>
        <thead>
            <tr class="">
                <th>#</th>
                <th>სერვისის დასახელება</th>
                <th>განზომილება</th>
                <th>რაოდეობა</th>
                <th>ერთეულის ღირებულება</th>
                <th>დახარჯული დრო</th>
                <th>ჯამური ღირებულება</th>
                <th>გარანტია</th>
            </tr>
        </thead>
        <tbody>
            @{
                int index = 1;
            }
            @foreach (var item in Model)
            {
                TImeExtract(item.Time);
                <tr>
                    <td>@index</td>
                    <td>@item.Description</td>
                    <td>@item.Dimension</td>
                    <td>@Html.DisplayFor(model => item.Count)</td>
                    <td>@Html.DisplayFor(model => item.Cost)</td>
                    <td>@item.Time</td>
                    <td>@Html.DisplayFor(model => item.Amount)</td>
                    <td>@item.Garanty</td>
                </tr>
                index++;
            }
            <tr>
                <td colspan="5" style="border-left:0;border-right:0;"><span class="bold">სულ მომსახურება:</span></td>
                <td style="border-left:0;border-right:0;">
                    @(hourPart != 0 ? hourPart + " საათი" : string.Empty) @(hourPart != 0 && minutePart != 0 ? ", " : string.Empty) @(minutePart != 0 ? minutePart + " წუთი" : string.Empty)
                </td>
                <td style="border-left:0;border-right:0;">@Model.Sum(x => x.Amount).ToString("0.00")</td>
                <td style="border-left:0;border-right:0;"></td>
            </tr>
        </tbody>
    </table>
</div>