﻿@model GridHeaderModel
@{
    var generateSortLink = ViewBag.SortLink;
    
    var className = string.Empty;
    if (Model.IsSortable)
    {
        className += "sorting ";
    }
    if (Model.IsSortedByThis)
    {
        className += "sorting_" + (string.IsNullOrWhiteSpace(Model.CurrentOrder) ? "asc" : Model.CurrentOrder);
    }
}
<th style="" class="@className " width="@(Model.Width.HasValue ? Model.Width.Value.ToString() : string.Empty)%">
    @if (Model.IsSortable)
    {
        var sortSpecification = new SortSpecification(Model.Name, Model.CurrentOrder == "asc" ? "desc" : "asc");

        if (Model.IsSortedByThis)
        {
            <a href="@generateSortLink(sortSpecification)" class="gread-link">
                @Model.Title
                @{
            var icon = "fa fa-angle-up";
                }
                @if (Model.CurrentOrder == "desc")
                {
                    icon = "fa fa-angle-down";
                }
                @*<i class="@icon"></i>*@
            </a>
        }
        else
        {
            <a href="@generateSortLink(sortSpecification)" class="gread-link">@Model.Title</a>
        }
    }
    else
    {
        @Model.Title
    }
</th>