﻿@model FixItTron.Web.Host.Areas.Administration.Models.Events.EventTableRowModel
<td>
    @Html.ActionLink(Model.Name, MVC.Administration.Events.Edit(Model.RowId))
</td>
<td>
    @Html.DisplayFor(model => model.EventCode)
</td>
<td>
    @Html.DisplayFor(model => model.Company)
</td>
<td>
    @Html.DisplayFor(model => model.Username)
</td>
<td>
    @Html.DisplayFor(model => model.StartDate)
</td>
<td>
    @Html.DisplayFor(model => model.EndDate)
</td>
<td>
    @Html.DisplayFor(model => model.PrintCount)
</td>
<td>
    @if (Model.ShowLogoOnShare)
    {
        @ApplicationStrings.Yes
    }
    else
    {
        @ApplicationStrings.No
    }
</td>
<td>
    @if (Model.ShowLogoOnPreview)
    {
        @ApplicationStrings.Yes
    }
    else
    {
        @ApplicationStrings.No
    }
</td>
<td>
    @if (Model.IsActive)
    {
        @ApplicationStrings.Yes
    }
    else
    {
        @ApplicationStrings.No
    }
</td>
<td class="actions">
    @Html.DisplayFor(model => model.Actions)
</td>
