@font-face {
    font-family: 'BPGArial';
    src: url('fonts/bpg_arial.eot');
    src: url('fonts/bpg_arial.eot?#iefix') format('embedded-opentype'), url('fonts/bpg_arial.woff') format('woff'), url('fonts/bpg_arial.ttf') format('truetype'), url('fonts/bpg_arial.svg#glyphicons_halflingsregular') format('svg');
}

body, .dropdown-menu,
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-menu,
.table, .table.table-light > thead > tr > th,
h1, h2, h3, h4, h5, h6,
input, button, select, textarea, .label {
    font-family: 'BPGArial';
}

.fc-agenda-slots td div {
    height: 40px !important;
}

.scheduleTableHidden {
    display: none;
}

.calendarhiden {
    display: none;
}

.questionareHidden {
    display: none;
}

.scheduleConfirmButton {
    margin-left: 5px;
}

.tooltipevent {
    text-decoration: none;
    padding: 14px 20px;
    margin-top: -30px;
    margin-left: 28px;
    width: 350px;
    line-height: 16px;
    min-height: 350px;
    outline: none;
    background: #F7F7F7;
    display: inline-block;
    position: absolute;
    z-index: 11001;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #CCC;
}

.my-legend .legend-scale ul li {
    font-size: 100%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}

.my-legend ul.legend-labels li span {
    display: inline-block;
    float: left;
    height: 20px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}

.fc-left > h2 {
    font-size: 10pt;
    font-weight: bold;
}

.validation-summary-errors ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.input-validation-error,
.form-control.input-validation-error:focus {
    border-color: #ebccd1;
}

#no-data {
    text-align: center;
    color: grey;
}

.page-sidebar .page-sidebar-menu .sub-menu {
    margin: 0;
}

.table .heading a {
    color: #333333;
    /*font-family: "Open Sans", sans-serif;*/
}

.form-group > .control-label::after {
    content: ':';
}

.remove-colon::after {
    content: '' !important;
}

.form-group div.checker {
    margin-left: -2px;
    margin-top: 8px !important;
}

.label-black {
    background-color: black;
}

/*#region inline-editor*/
.inline-editor tr.line.read-only input, .inline-editor tr.line.read-only select {
    border-color: transparent;
    /*-webkit-appearance: none;*/
}

.inline-editor table {
    border-collapse: collapse !important;
}

    .inline-editor table td {
        padding: 0 !important;
    }

    /*#adjustment-lines th {
        font-weight: normal;
    }*/

    .inline-editor table thead th {
        background: #eee;
        padding: 8px;
        border-right: 1px solid lightgray;
    }

.inline-editor tr.line.read-only, .inline-editor tr.line.read-only .form-control, .inline-editor tr.line.read-only .form-control:focus {
    /*background-color: whitesmoke;*/
    cursor: pointer;
}

    .inline-editor tr.line td.non-editable, .inline-editor tr.line.read-only td.non-editable input.form-control {
        background: whitesmoke !important;
        cursor: not-allowed;
    }

.inline-editor tr.line .indicator {
    width: 40px;
    color: gray;
}

.inline-editor tr.line td > span {
    padding: 7px;
    display: block;
    font-size: 14px;
}

.inline-editor tr.line .indicator .fa {
    width: 5px;
    margin: 0 auto;
    display: block;
    margin-top: 10px;
}

    .inline-editor tr.line .indicator .fa.fa-circle {
        font-size: 8px;
    }

.inline-editor tr.line.read-only .indicator .fa {
    display: none;
}


.inline-editor tr.line td.actions {
    width: 40px;
    text-align: center;
    padding-top: 10px !important;
}

/*.inline-editor tr.line .select2-choice {
        background: #f9f9f9;
    }*/

.inline-editor tr.line.read-only .select2-choice {
    border-color: white;
}

.inline-editor tr.line.read-only .select2-arrow, .inline-editor tr.line.read-only .select2-search-choice-close {
    display: none !important;
}

.inline-editor tr.line td span.label {
    font-weight: 300;
    font-size: 12px;
    padding: 3px 6px 3px 6px;
    text-shadow: none !important;
    display: inline-block;
    margin-top: 5px;
}
/*#endregion*/

.selector-row {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    display: table-row;
    width: 100%;
}

.selector-row-cell {
    display: table-cell;
}

.select2-results .select2-result-label.contractor-selection-result {
    padding: 5px;
}

.table-container {
    overflow: visible;
}

.table {
    background-color: white;
}

.non-editable {
    cursor: not-allowed;
}

    .non-editable span {
        background: #eeeeee;
    }

.subtotals td {
    padding: 10px;
    font-size: 16px;
    padding-bottom: 2px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.static-info label.name::after {
    content: ':';
}

.form-group .checkbox-list .checker {
    margin: 0 !important;
}

.label-yellow {
    background-color: #ECDB08;
}

.search-browser {
    display: none;
    position: absolute;
    background: white;
    z-index: 10;
    border: 1px solid #B1B1B1;
    border-collapse: collapse;
    height: 500px;
    width: 800px;
    overflow-y: auto;
}

    .search-browser.active {
        display: table;
    }

    .search-browser .tabe tr.line {
        cursor: pointer;
    }

.category-tree-container {
    min-width: 200px;
    display: table-cell;
    border: 1px solid #B1B1B1;
    vertical-align: top;
}

    .category-tree-container > .jstree-container-ul {
        height: 100%;
        overflow-y: auto;
    }

.product-browser-container {
    display: table-cell;
    min-width: 200px;
    border: 1px solid #B1B1B1;
}

.products-selection {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    height: 92%;
    overflow-y: auto;
}

    .products-selection li {
        cursor: pointer;
        padding: 10px;
        border-bottom: 1px solid #b1b1b1;
    }

        .products-selection li:hover {
            background-color: whitesmoke;
        }

        .products-selection li.selected {
            background-color: whitesmoke;
        }

.form-group div.radio {
    margin-top: 0;
}

.contractor-browser .table tr.line {
    cursor: pointer;
}

.radio input[type="radio"] {
    margin-left: -9px;
}

.search-browser.wide {
    top: 60px;
    left: 20px;
    width: 98%;
    height: 90%;
    overflow-y: scroll;
    position: fixed;
    box-shadow: 1px 1px 2px #7D7D7D;
}

.products-selection div.checker {
    margin-left: 0 !important;
    margin-top: 0 !important;
}

@media screen and (max-width: 980px) and (min-width: 760px) {
    .search-browser.wide {
        width: 96%;
    }
}

@media screen and (max-width: 759px) {
    .search-browser.wide {
        width: 94%;
    }

        .search-browser.wide .category-tree-container {
            max-width: 300px;
        }
}

.highlight {
    background-color: #FFFFBC !important;
}

.contractor-browser .search-browser {
    width: 100%;
    height: auto;
    overflow: auto;
}

.event-logo-outer-container {
    width: 372px;
    border: 1px solid black;
    position: relative;
}

    .event-logo-outer-container .event-user-image {
        width: 350px;
        margin: 10px;
        margin-bottom: 0px;
        height: 350px;
        border: 1px solid black;
    }

    .event-logo-outer-container .event-logo {
        width: 100%;
        height: 173px;
        padding: 0px 0;
    }

        .event-logo-outer-container .event-logo img {
            width: 348px;
            position: absolute;
            bottom: 0;
            left: 11px;
            margin: 0 auto;
        }
