﻿@model FixItTron.Web.Host.Areas.Administration.Models.PromoCodes.AddEditPromoCodeViewModel

@Html.HiddenFor(model => model.PromoCodeId)
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="form-horizontal">
    <div class="form-group">
        @Html.RequiredLabelFor(model => model.Code, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.RequiredLabelFor(model => model.PrintCount, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.PrintCount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrintCount, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.RequiredLabelFor(model => model.MultiUse, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            <div class="bootstrap-switch bootstrap-switch-wrapper bootstrap-switch-small bootstrap-switch-animate bootstrap-switch-on">
                <div class="bootstrap-switch-container">
                    @Html.EditorFor(model => model.MultiUse, new { htmlAttributes = new { @class = "form-control make-switch", @data_size = "small", @data_on_color = "success" } })
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.MultiUse, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.EventId, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.DropDownListFor(model => model.EventId, Model.EventsSelectList, new { @class = "form-control select2me" })
            @Html.ValidationMessageFor(model => model.EventId, "", new { @class = "text-danger" })
        </div>
    </div>
</div>