﻿@model FixItTron.Web.Host.Areas.Administration.Models.PromoCodes.PromoCodeFilterViewModel

<td></td>
<td>
    @Html.TextBoxFor(model => model.Code, new { @class = "form-control form-filter " })
</td>
<td>
    @Html.DropDownListFor(model => model.EventId, Model.EventsSelectList, new { @class = "select2me form-control form-filter" })
</td>
<td>
    @Html.EditorFor(model => model.PrintCount, "UnboundedIntRange")
</td>
<td>
    @Html.DropDownListFor(model => model.MultiUse, Model.YesNoSelectList, new { @class = "select2me form-control form-filter" })
</td>
<td>
    @Html.TextBoxFor(model => model.Description, new { @class = "form-control form-filter " })
</td>