﻿@model HomeViewModel
@{
    ViewBag.Title = ApplicationStrings.Main;
}


<div class="row margin-top-10">
    <div class="col-md-6 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject theme-font bold uppercase">@ApplicationStrings.TermsOfContract</span>
                    <span class="caption-helper hide">@ApplicationStrings.TermsOfContract...</span>
                </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                @Html.DisplayFor(model => model.TermsOfContract)
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <div class="col-md-6 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font hide"></i>
                    <span class="caption-subject theme-font bold uppercase">@ApplicationStrings.Orders</span>
                    <span class="caption-helper hide">@ApplicationStrings.Orders...</span>
                </div>
                <div class="actions no-space">
                    <div class="col-md-12">
                        @*@Html.DropDownListFor(model => model.Year, Model.YearsSelectList, new { @class = "form-control js-widget-handler", data_widget_url = Url.Action(MVC.Home.WidgetOrdersSummary()) })*@
                        <form class="form-inline" data-widget-url="@Url.Action(MVC.Home.WidgetOrdersSummary())">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.WidgetYearMonth.YearStart, Model.YearsSelectList, new
                   {
                       @class = "form-control input-xsmall1 js-widget-handler"
                   })
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.WidgetYearMonth.MonthStart, Model.MonthsSelectList, new
                   {
                       @class = "form-control input-xsmall1 js-widget-handler"
                   })
                            </div>
                            <label for="" class="control-label">:</label>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.WidgetYearMonth.YearEnd, Model.YearsSelectList, new
                   {
                       @class = "form-control input-xsmall1 js-widget-handler"
                   })
                            </div>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.WidgetYearMonth.MonthEnd, Model.MonthsSelectList, new
                   {
                       @class = "form-control input-xsmall1 js-widget-handler"
                   })
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="portlet-body js-widget-container">
                @Html.DisplayFor(model => model.OrdersSummary)
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
</div>
<div class="row margin-top-10">
    <div class="col-md-12 col-sm-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <i class="icon-bar-chart theme-font"></i>
                    <span class="caption-subject theme-font bold uppercase">შეკვეთების რაოდენობა ფილიალების მიხედვით</span>
                    <span class="caption-helper hide">შეკვეთების რაოდენობა ფილიალების მიხედვით...</span>
                </div>
                @Helpers.ChartToolbar()
                <div class="actions">
                    @*@Html.DropDownListFor(model => model.Year, Model.YearsSelectList, new { @class = "form-control js-chart-handler", data_chart_url = Url.Action(MVC.Home.GetOrdersByFilials()) })*@
                    <form class="form-inline" data-chart-url="@Url.Action(MVC.Home.GetOrdersByFilials())">
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.ChartYearMonth.YearStart, Model.YearsSelectList, new
                   {
                       @class = "form-control input-xsmall1 js-chart-handler"
                   })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.ChartYearMonth.MonthStart, Model.MonthsSelectList, new
                   {
                       @class = "form-control input-xsmall1 js-chart-handler"
                   })
                        </div>
                        <label for="" class="control-label">:</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.ChartYearMonth.YearEnd, Model.YearsSelectList, new
                   {
                       @class = "form-control input-xsmall1 js-chart-handler"
                   })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.ChartYearMonth.MonthEnd, Model.MonthsSelectList, new
                   {
                       @class = "form-control input-small1 js-chart-handler"
                   })
                        </div>
                    </form>
                </div>
            </div>
            <div class="portlet-body js-chart-container">
                @Html.Action(MVC.Home.GetOrdersByFilials(Model.ChartYearMonth))
            </div>
        </div>
    </div>
</div>

@section styles{
    <link href="~/Assets/plugins/_amcharts/plugins/export/export.css" rel="stylesheet" />
}

@section scripts
{
    @Scripts.Render("~/bundles/_charts")

    <script src="~/Assets/scripts/dashboard.js"></script>
    <script type="text/javascript">
        $(function () {
            Dashboard.init();
        });
    </script>
}