﻿@helper ChartToolbar()
{
    <div class="tools">
        <a href="javascript:;" class="collapse" data-original-title="" title="">
        </a>
        <a href="javascript:;" class="fullscreen" data-original-title="" title="">
        </a>
        <a href="javascript:;" class="remove" data-original-title="" title="">
        </a>
    </div>
}

@helper WriteIf(bool condition, string content)
{
    if (condition)
    {
        @content
    }
}