﻿@model FixItTron.Domain.OrdersSummaryModel

<div class="table-scrollable table-scrollable-borderless dataTable">
    <table class="table table-hover table-padding-lg1">
        <thead>
            <tr class="uppercase">
                <th>

                </th>
                <th>
                    @ApplicationStrings.QuantityShort.
                </th>
                <th>
                    @ApplicationStrings.ServiceGel
                </th>
                <th>
                    @ApplicationStrings.MaterialGel
                </th>
                <th>
                    @ApplicationStrings.OtherGel
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var summaryItem in Model.Items)
            {
                <tr>
                    <td class="_fit bold theme-font">
                        @*<span class="row-details no-cursor"></span>*@
                        @summaryItem.Title
                    </td>
                    <td>@summaryItem.Items.Sum(x => x.Quantity)</td>
                    <td>@summaryItem.Items.Sum(x => x.Service)</td>
                    <td>@summaryItem.Items.Sum(x => x.Material)</td>
                    <td>@summaryItem.Items.Sum(x => x.Other)</td>
                </tr>
                foreach (var item in summaryItem.Items.GroupBy(x => x.Type))
                {
                    <tr class="parent">
                        <td class="no-border">
                            <span class="row-details row-details-close"></span>
                            <span class="">
                                @if (item.Key == FixItTron.Domain.OrdersSummaryType.Completed)
                                {
                                    @ApplicationStrings.Completed
                                }
                                else
                                {
                                    @ApplicationStrings.Rejected
                                }
                            </span>
                        </td>
                        <td class="no-border">@item.Sum(x => x.Quantity)</td>
                        <td class="no-border">@item.Sum(x => x.Service)</td>
                        <td class="no-border">@item.Sum(x => x.Material)</td>
                        <td class="no-border">@item.Sum(x => x.Other)</td>
                    </tr>

                    foreach (var sumItem in summaryItem.Items.Where(x => x.Type == item.Key))
                    {
                        <tr class="sub-item" style="display:none;">
                            <td>
                                <span class="row-details no-cursor"></span>
                                @sumItem.Title
                            </td>
                            <td>@sumItem.Quantity</td>
                            <td>@sumItem.Service</td>
                            <td>@sumItem.Material</td>
                            <td>@sumItem.Other</td>
                        </tr>
                    }
                }
            }
            <tr>
                <td class="fit bold theme-font">
                    @*<span class="row-details no-cursor"></span>*@
                    @ApplicationStrings.OrdersTotal
                </td>
                <td>
                    <span class="bold theme-font">
                        @Model.TotalQuantity()
                    </span>
                </td>
                <td>
                    <span class="bold theme-font">
                        @Model.TotalService()
                    </span>
                </td>
                <td>
                    <span class="bold theme-font">
                        @Model.TotalMaterial()
                    </span>
                </td>
                <td>
                    <span class="bold theme-font">
                        @Model.TotalOther()
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</div>