﻿@model FixItTron.Domain.TermsOfContractModel

<div class="table-scrollable table-scrollable-borderless">
    <table class="table table-hover">
        <tbody>
            <tr>
                <td class="">@ApplicationStrings.ValidityOfContract:</td>
                <td colspan="2" class="text-center">@Html.DisplayFor(model => model.ContractDate)</td>
                @*<td class="text-center no-border">@Html.DateFrom(model => model.ContractStartDate)</td>
                <td class="text-center no-border">@Html.DateTo(model => model.ContractEndDate)</td>*@
            </tr>
            <tr>
                <td>@ApplicationStrings.MonthlyFee:</td>
                <td colspan="2" class="text-center">@Html.DisplayFor(model => model.MonthlyCost) @Html.DisplayFor(model => model.Currency)</td>
            </tr>
            <tr>
                <td class="bold theme-font">@ApplicationStrings.Limits:</td>
                <td class="text-center">@ApplicationStrings.CallQuantity</td>
                <td class="text-center">@ApplicationStrings.HoursQuantity</td>
            </tr>
            <tr>
                <td>@ApplicationStrings.CallQuantityByMonth:</td>
                <td class="text-center">@Html.DisplayFor(model => model.CallNumberMonthlyLimit)</td>
                <td class="text-center">@Html.DisplayFor(model => model.CallHoursMonthlyLimit)</td>
            </tr>
            <tr>
                <td>@ApplicationStrings.CallQuantityByYear:</td>
                <td class="text-center">@Html.DisplayFor(model => model.CallNumberYearLimit)</td>
                <td class="text-center">@Html.DisplayFor(model => model.CallHoursYearLimit)</td>
            </tr>
            <tr>
                <td class="bold theme-font">@ApplicationStrings.UsedLimits:</td>
                <td class="text-center">@ApplicationStrings.CallQuantity</td>
                <td class="text-center">@ApplicationStrings.HoursQuantity</td>
            </tr>
            <tr>
                <td>@ApplicationStrings.CallQuantityByMonth:</td>
                <td class="text-center">@Html.DisplayFor(model => model.UsedNumberOfCallsPerMonth)</td>
                <td class="text-center">@Html.DisplayFor(model => model.UsedHoursOfCallsPerMonth)</td>
            </tr>
            <tr>
                <td>@ApplicationStrings.CallQuantityByYear:</td>
                <td class="text-center">@Html.DisplayFor(model => model.UsedNumberOfCallsPerYear)</td>
                <td class="text-center">@Html.DisplayFor(model => model.UsedHoursOfCallsPerYear)</td>
            </tr>
            <tr>
                <td class="bold theme-font">@ApplicationStrings.RemainingLimits:</td>
                <td class="text-center">@ApplicationStrings.CallQuantity</td>
                <td class="text-center">@ApplicationStrings.HoursQuantity</td>
            </tr>
            <tr>
                <td>@ApplicationStrings.CallQuantityByMonth:</td>
                <td class="text-center">@Html.DisplayFor(model => model.RemainingNumberOfCallsPerMonth)</td>
                <td class="text-center">@Html.DisplayFor(model => model.RemainingHoursOfCallsPerMonth)</td>
            </tr>
            <tr>
                <td>@ApplicationStrings.CallQuantityByYear:</td>
                <td class="text-center">@Html.DisplayFor(model => model.RemainingNumberOfCallsPerYear)</td>
                <td class="text-center">@Html.DisplayFor(model => model.RemainingHoursOfCallsPerYear)</td>
            </tr>
            <tr>
                <td>@ApplicationStrings.RateLimitExceedByHour:</td>
                <td colspan="2" class="text-center">@Html.DisplayFor(model => model.RateLimitExceedByHour)</td>
            </tr>
            <tr>
                <td>@ApplicationStrings.ExistingDebt:</td>
                <td colspan="2" class="text-center">@Html.DisplayFor(model => model.ExistingDebt)</td>
            </tr>
        </tbody>
    </table>
</div>