﻿@model IDictionary<string, string>

@{
    Layout = null;
}

@if (Model.Any() && !(Model.Keys.ElementAt(0) == ApplicationStrings.Home))
{
    <li>
        @Html.ActionLink(ApplicationStrings.Home, MVC.Home.Index())
        @if (Model.Any())
        {
            <i class="fa fa-circle"></i>
        }
    </li>
}

@foreach (var bc in Model)
{
    <li class="active">
        @bc.Key
    </li>
}