﻿@model TopMenuModel

@{
    Layout = null;
}

@if (Model.Items.Any())
{
    foreach (var item in Model.Items)
    {
        <li class="@(item.Selected ? "active" : string.Empty) @item.CssClass">
            <a href="@Url.Action(item.Action)">@item.Title</a>
        </li>
    }
}