﻿@model ChangePasswordViewModel
@{
    Layout = MVC.Shared.Views._ContainerLayout;
}
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light">
                        <div class="portlet-title tabbable-line">
                            <div class="caption caption-md">
                                <i class="icon-globe theme-font hide"></i>
                                <span class="caption-subject font-blue-madison bold uppercase">@ApplicationStrings.ChangePassword</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            @using (Html.BeginForm())
                            {
                                @Html.Validation()
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CurrentPassword, new { @class = "control-label" })
                                    @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CurrentPassword)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NewPassword, new { @class = "control-label" })
                                    @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NewPassword)
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "control-label" })
                                    @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
                                </div>
                                <div class="margin-top-10">
                                    <button type="submit" class="btn green-haze">@ApplicationStrings.Change</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>