﻿@model ConfirmResetPasswordViewModel

@{
    Layout = MVC.Shared.Views._Structure;
    ViewBag.BodyClass = "login";
}

@section styles
{
    <link href="~/Assets/css/login.css" rel="stylesheet" />
}

<div class="logo">
    <a href="">
        <img src="~/Assets/img/logo.png" style="width: 210px;" />
    </a>
</div>

<div class="content">
    @TempData.RenderFlash()

    @using (Html.BeginForm(MVC.Auth.ConfirmResetPassword(), FormMethod.Post, new { @class = "login-form" }))
    {
        @Html.AntiForgeryToken()

        <h3 class="form-title">@ApplicationStrings.ResetPassword</h3>
        @Html.Validation()

        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            @Html.LabelFor(model => model.Email, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = ApplicationStrings.UserName })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-success uppercase">@ApplicationStrings.Send</button>
            <a href="@Url.Action(MVC.Auth.LogIn())" class="forget-password" id="register-btn">@ApplicationStrings.GoBack</a>
        </div>

        <div class="create-account">
            <p>
                @*<a href="@Url.Action(MVC.Auth.LogIn())" id="register-btn" class="uppercase">@ApplicationStrings.GoBack</a>*@
            </p>
        </div>
    }
</div>
<div class="copyright">
    @Html.Raw(string.Format(FixItTron.Web.ApplicationStrings.AllRightsReserved, DateTime.Now.Year))
</div>