﻿@model FirstAuthorizationViewModel
@{
    Layout = MVC.Shared.Views._Structure;
    ViewBag.BodyClass = "login";
}

@section styles
{
    <link href="~/Assets/css/login.css" rel="stylesheet" />
}

<div class="logo">
    <a href="">
        <img src="~/Assets/img/logo.png" style="width: 210px;" />
    </a>
</div>

<div class="content">
    @using (Html.BeginForm(MVC.Auth.FirstAuthorization(), FormMethod.Post, new { @class = "login-form" }))
    {
        @Html.AntiForgeryToken()

        <h3 class="form-title">@ApplicationStrings.SignIn</h3>
        @Html.Validation()

        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.Description)

        <div class="row static-info">
            <div class="col-md-5 name">
                @Html.LabelFor(model => model.UserName):
            </div>
            <div class="col-md-7 value">
                @Html.DisplayFor(model => model.UserName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = ApplicationStrings.NewPassword })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = ApplicationStrings.ConfirmNewPassword })
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success uppercase">@ApplicationStrings.Login</button>
            <label class="rememberme check">
            </label>
        </div>
        <div class="create-account">
            <p>
            </p>
        </div>
    }
</div>
<div class="copyright">
    @Html.Raw(string.Format(FixItTron.Web.ApplicationStrings.AllRightsReserved, DateTime.Now.Year))
</div>