﻿@model LoginViewModel
@{
    Layout = MVC.Shared.Views._Structure;
    ViewBag.BodyClass = "login";
}

@section styles
{
    <link href="~/Assets/css/login.css" rel="stylesheet" />
}

<div class="logo">
    <a href="">
        <img src="~/Assets/img/logo.png" style="width: 300px;" />
    </a>
</div>

<div class="content">
    @TempData.RenderFlash()

    @using (Html.BeginForm(MVC.Auth.LogIn(), FormMethod.Post, new { @class = "login-form" }))
    {
        @Html.AntiForgeryToken()
        
        <input type="hidden" name="returnurl" value="@Request.QueryString["ReturnUrl"]" />
        
        <h3 class="form-title">@ApplicationStrings.SignIn</h3>
        @Html.Validation()

        @*<div class="alert alert-danger display-hide1">
                <button class="close" data-close="alert"></button>
                შეცდომის ტექსტი
            </div>*@

        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            @Html.LabelFor(model => model.UserName, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = ApplicationStrings.UserName })
            @Html.ValidationMessageFor(model => model.UserName)
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = ApplicationStrings.Password })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success uppercase">@ApplicationStrings.Login</button>
            <label class="rememberme check">
                @Html.CheckBoxFor(model => model.RememberMe)@ApplicationStrings.Remember
            </label>
            @*<a href="@Url.Action(MVC.Auth.ConfirmResetPassword())" id="forget-password" class="forget-password">@ApplicationStrings.ForgotPassword</a>*@
        </div>
        <div class="create-account">
            <p>
                <a href="@Url.Action(MVC.Auth.ConfirmResetPassword())" id="register-btn" class="uppercase">@ApplicationStrings.ForgotPassword</a>
                @*<a href="javascript:;" id="register-btn" class="uppercase">Create an account</a>*@
            </p>
        </div>
    }
</div>
<div class="copyright">
    @Html.Raw(string.Format(FixItTron.Web.ApplicationStrings.AllRightsReserved, DateTime.Now.Year))
</div>