﻿@model ResetPasswordViewModel

@{
    Layout = MVC.Shared.Views._Structure;
    ViewBag.BodyClass = "login";
}

@section styles
{
    <link href="~/Assets/css/login.css" rel="stylesheet" />
}

<div class="logo">
    <a href="">
        <img src="~/Assets/img/logo.png" style="width: 210px;" />
    </a>
</div>

<div class="content">
    @TempData.RenderFlash()

    @using (Html.BeginForm(MVC.Auth.ResetPassword(), FormMethod.Post, new { @class = "login-form" }))
    {
        @Html.AntiForgeryToken()

        <h3 class="form-title">@ApplicationStrings.ResetPassword</h3>
        @Html.Validation()
        @Html.HiddenFor(model => model.Key)
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = ApplicationStrings.NewPassword })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = ApplicationStrings.ConfirmNewPassword })
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-success uppercase">განახლება</button>
            @*<a href="@Url.Action(MVC.Auth.LogIn())" class="forget-password" id="register-btn">@ApplicationStrings.GoBack</a>*@
        </div>

        <div class="create-account">
            <p>
                @*<a href="@Url.Action(MVC.Auth.LogIn())" id="register-btn" class="uppercase">@ApplicationStrings.GoBack</a>*@
            </p>
        </div>
    }
</div>
<div class="copyright">
    @Html.Raw(string.Format(FixItTron.Web.ApplicationStrings.AllRightsReserved, DateTime.Now.Year))
</div>