﻿<div id="js-entity-action-modal" class="modal no-post1">
    @using (Html.BeginForm(MVC.Administration.PromoCodes.ImportPromoCodes(), FormMethod.Post, new { data_uploader = true, enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a href="#" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
                    <h4 class="modal-title">@ApplicationStrings.ImportFromExcel</h4>
                </div>
                <div class="modal-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div id="" class="entity-editor-field-set">

                        <div class="editor-field" style="margin-top: 10px;">
                            <a href="@Url.Action(MVC.Administration.PromoCodes.GetPromoCodesImportTemplate())">@ApplicationStrings.DownloadTemplate</a>
                        </div>

                        <div class="editor-label">
                            <label for="file">@ApplicationStrings.UploadExcelFile<span class="label-required">*</span></label>
                        </div>
                        <div class="editor-field">
                            @*<input id="file" name="file" style="width:180px;" type="file" value="">*@
                            <input type="file" id="doc-file" name="addFile" />
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">@ApplicationStrings.Close</a>
                    <button type="submit" class="btn btn-success">@(ApplicationStrings.Save)</button>
                </div>
                <!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    }
</div>