﻿@using FixItTron.Web.Host.Areas.Administration.Models;
@using FixItTron.Services.Models.Shared;
@model FixItTron.Web.Host.Areas.Administration.Models.CreateRoleViewModel

<div class="form-group">
    @Html.RequiredLabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>
</div>

<h4>@ApplicationStrings.Permissions</h4>

<div class="panel-group" id="accordion">
    @for (int i = 0; i < Model.Sections.Count; i++)
    {
        @renderRoleSection(Model.Sections[i], i.ToString())
    }
</div>

@helper renderRoleSection(EditRoleSection section, string index)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#@index">
                    @(section.Title)
                </a>
            </h4>
        </div>
        <div id="@index" class="panel-collapse collapse">
            <div class="panel-body">
                @for (int i = 0; i < section.SubSections.Count; i++)
                {
                    @renderRoleSection(section.SubSections[i], string.Format("{0}-{1}", index, i))
                }
                @if (section.Permissions != null && section.Permissions.Any())
                {
                    @renderPermissions(section.Permissions)
                }
            </div>
        </div>
    </div>
}

@helper renderPermissions(IDictionary<Securable, Permissions> configuration)
{
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <td>
                    @ApplicationStrings.Module
                </td>
                <td>
                    @ApplicationStrings.Create
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="@ApplicationStrings.CreatePermissionHelp"></i>
                </td>
                <td>
                    @ApplicationStrings.Read
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="@ApplicationStrings.ReadPermissionHelp"></i>
                </td>
                <td>
                    @ApplicationStrings.Update
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="@ApplicationStrings.UpdatePermissionHelp"></i>
                </td>
                <td>
                    @ApplicationStrings.Delete
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="@ApplicationStrings.DeletePermissionHelp"></i>
                </td>
                <td>
                    @ApplicationStrings.Book
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="@ApplicationStrings.BookPermissionHelp"></i>
                </td>
                <td>
                    @ApplicationStrings.Approve
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="@ApplicationStrings.ApprovePermissionHelp"></i>
                </td>
                <td>
                    @ApplicationStrings.Post
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="@ApplicationStrings.PostPermissionHelp"></i>
                </td>
                <td>
                    @ApplicationStrings.Cancel
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="@ApplicationStrings.CancelPermissionHelp"></i>
                </td>
                <td>
                    @ApplicationStrings.PowerPermission
                    <i class="fa fa-info-circle" data-toggle="tooltip" title="@ApplicationStrings.PowerPermissionHelp"></i>
                </td>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Permissions.Count; i++)
            {
                if (!configuration.ContainsKey(Model.Permissions[i].Securable))
                {
                    @*<div>@configuration.Keys.ElementAt(0)  @Model.Permissions[i].Securable</div>*@
                    continue;
                }
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Permissions[i].Securable)
                        @Html.HiddenFor(model => model.Permissions[i].Securable)
                    </td>
                    <td>
                        @renderRole(model => model.Permissions[i].Create, Model.Permissions[i].Securable, Permissions.Create)
                    </td>
                    <td>
                        @renderRole(model => model.Permissions[i].Read, Model.Permissions[i].Securable, Permissions.Read)
                    </td>
                    <td>
                        @renderRole(model => model.Permissions[i].Update, Model.Permissions[i].Securable, Permissions.Update)
                    </td>
                    <td>
                        @renderRole(model => model.Permissions[i].Delete, Model.Permissions[i].Securable, Permissions.Delete)
                    </td>
                    <td>
                        @renderRole(model => model.Permissions[i].Book, Model.Permissions[i].Securable, Permissions.Book)
                    </td>
                    <td>
                        @renderRole(model => model.Permissions[i].Approve, Model.Permissions[i].Securable, Permissions.Approve)
                    </td>
                    <td>
                        @renderRole(model => model.Permissions[i].Post, Model.Permissions[i].Securable, Permissions.Post)
                    </td>
                    <td>
                        @renderRole(model => model.Permissions[i].Cancel, Model.Permissions[i].Securable, Permissions.Cancel)
                    </td>
                    <td>
                        @renderRole(model => model.Permissions[i].PowerPermission, Model.Permissions[i].Securable, Permissions.PowerPermission)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@helper renderRole(System.Linq.Expressions.Expression<Func<CreateRoleViewModel, bool>> expression, Securable securable, Permissions permission)
{
    if (Model.Configuration.ContainsKey(securable) && Model.Configuration[securable].HasFlag(permission))
    {
        @Html.CheckBoxFor(expression)
    }
}
