﻿@model FixItTron.Web.Host.Areas.Administration.Models.RoleFilterViewModel

<td rowspan="1" colspan="1">
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-filter input-sm" })
</td>
<td rowspan="1" colspan="1"></td>