﻿@model FinancesListViewModel

@helper Header(string title)
{
    var header = new GridHeaderModel() { Title = title, Name = title, IsSortable = false };
    @Html.DisplayFor(model => header)
}

@helper Display(decimal val)
{
    @Html.DisplayFor(model => val)
}

<table class="table table-striped table-bordered table-hover dataTable no-footer" id="datatable_products" aria-describedby="datatable_products_info" role="grid">
    <thead>
        <tr role="row" class="heading">
            @Header("")
            @Html.DisplayFor(model => model.Headers)
        </tr>
    </thead>
    <tbody>
        <tr class="">
            <td>@ApplicationStrings.StartBalance</td>
            @for (int i = 0; i < Model.Headers.Count(); i++)
            {
                <td>
                    @Display(Model.SumStartBalanceByMonth(Model.Headers[i].Name))
                </td>
            }
        </tr>
        <tr class="parent">
            <td>@ApplicationStrings.SumAccrualAmount <span class="row-details row-details-close"></span></td>
            @for (int i = 0; i < Model.Headers.Count(); i++)
            {
                <td>
                    @Display(Model.SumAccrualAmountByMonth(Model.Headers[i].Name))
                </td>
            }
        </tr>
        <tr class="sub-item" style="display:none;">
            @Header(ApplicationStrings.Accruals)
            @Html.DisplayFor(model => model.Headers)
        </tr>
        <tr class="sub-item" style="display:none;">
            <td>@ApplicationStrings.AbonentAmount</td>
            @for (int i = 0; i < Model.Headers.Count(); i++)
            {
                <td>
                    @Display(Model.Finances.Where(x => x.MonthName == Model.Headers[i].Name).Sum(x => x.AbonentAmount))
                </td>
            }
        </tr>
        <tr class="sub-item" style="display:none;">
            <td>@ApplicationStrings.MaterialAmount</td>
            @for (int i = 0; i < Model.Headers.Count(); i++)
            {
                <td>
                    @Display(Model.Finances.Where(x => x.MonthName == Model.Headers[i].Name).Sum(x => x.MaterialAmount))
                </td>
            }
        </tr>
        <tr class="sub-item" style="display:none;">
            <td>@ApplicationStrings.OtherAmount</td>
            @for (int i = 0; i < Model.Headers.Count(); i++)
            {
                <td>
                    @Display(Model.Finances.Where(x => x.MonthName == Model.Headers[i].Name).Sum(x => x.OtherAmount))
                </td>
            }
        </tr>
        <tr class="sub-item" style="display:none;">
            <td>@ApplicationStrings.ServiceAmount</td>
            @for (int i = 0; i < Model.Headers.Count(); i++)
            {
                <td>
                    @Display(Model.Finances.Where(x => x.MonthName == Model.Headers[i].Name).Sum(x => x.ServiceAmount))
                </td>
            }
        </tr>
        <tr class="parent">
            <td>@ApplicationStrings.SumPaymentAmount</td>
            @for (int i = 0; i < Model.Headers.Count(); i++)
            {
                <td>
                    @Display(Model.SumPaymentAmountByMonth(Model.Headers[i].Name))
                </td>
            }
        </tr>
        <tr class="">
            <td>@ApplicationStrings.EndBalance</td>
            @for (int i = 0; i < Model.Headers.Count(); i++)
            {
                <td>
                    @Display(Model.SumEndBalanceByMonth(Model.Headers[i].Name))
                </td>
            }
        </tr>
    </tbody>
</table>