/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

@font-face {
    font-family: 'BPGArial';
    src: url('fonts/bpg_arial.eot');
    src: url('fonts/bpg_arial.eot?#iefix') format('embedded-opentype'), url('fonts/bpg_arial.woff') format('woff'), url('fonts/bpg_arial.ttf') format('truetype'), url('fonts/bpg_arial.svg#glyphicons_halflingsregular') format('svg');
}

body, .dropdown-menu,
.page-header .page-header-top .top-menu .navbar-nav > li.dropdown > .dropdown-menu,
.table.table-light > thead > tr > th,
h1, h2, h3, h4, h5, h6,
input, button, select, textarea {
    font-family: 'BPGArial';
}

.no-border {
    border: none !important;
}

.gread-link,
.gread-link:hover {
    color: #333;
    text-decoration: none;
}

#no-data {
    text-align: center;
}

.full-width {
    width: 100%;
}

.validation-summary-errors,
.validation-summary-errors ul {
    padding: 0;
    margin: 0;
}

    .validation-summary-errors ul {
        list-style: none;
    }

.table.table-no-padding td {
    padding: 0;
}

.table.table-padding-sm td {
    padding: 1px;
}

.table.table-padding-lg td {
    padding: 20px;
}

.field-validation-error {
    color: #a94442;
}

.sub-item {
    color: #8d8d8d;
}

#chart-MaterialsByDescriptions,
#chart-MaterialsCountByDescriptions,
#chart-ServiceCategoryCountByFilials,
#chart-ServiceCountByCategory,
#chart-ServiceDescriptionCount,
#chart-ServiceDescriptionCountByFilials,
#chart-MaterialsByFilials,
#chart-ordersbyfilials {
    height: 600px;
}

#chart-MaterialsByCategories {
    height: 600px;
}

.table.table-bordered .filter td {
    border-bottom-width: 0 !important;
}

.page-spinner-bar > div, .block-spinner-bar > div {
    background: #FF0000;
}

.row-chart {
    width: 100%;
}

.page-header .page-header-menu {
    background: #0070a8;
}

    .page-header .page-header-menu .hor-menu .navbar-nav > li.active {
        background: #005D8C;
    }

        .page-header .page-header-menu .hor-menu .navbar-nav > li.active > a {
            background: #005D8C;
        }

    .page-header .page-header-menu .hor-menu .navbar-nav > li > a:hover {
        background: #0279B5 !important;
    }

.amcharts-chart-div a {
    display: none !important;
}

.no-cursor {
    cursor: default !important;
}

.tabbable-custom {
    overflow: visible !important;
}

#datatable_products_wrapper table.dataTable {
    background-color: white;
}

.input-xmedium {
    width: 97px !important;
}
