﻿@model FixItTron.Web.Host.Areas.Administration.Models.PromoCodes.PromoCodeTableRowModel
<td>
    @Html.ActionLink(Model.Code, MVC.Administration.PromoCodes.Edit(Model.RowId), new { @class = "js-entity-action " })
</td>
<td>
    @Html.DisplayFor(model => model.Event)
</td>
<td>
    @Html.DisplayFor(model => model.PrintCount)
</td>
<td>
    @Html.DisplayFor(model => model.MultiUse)
</td>
<td>
    @Html.DisplayFor(model => model.Description)
</td>
<td class="actions">
    @Html.DisplayFor(model => model.Actions)
</td>
