﻿@model UnboundedPeriod
<div class="input-group date date-picker margin-bottom-5" data-date-format="dd.mm.yyyy">
    @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { placeholder = ApplicationStrings.FromDatePlaceholder, @class = "form-control form-filter input-xmedium" } })
    <span class="input-group-btn">
        <button class="btn btn-sm1 default" type="button"><i class="fa fa-calendar"></i></button>
    </span>
</div>
<div class="input-group date date-picker" data-date-format="dd.mm.yyyy">
    @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { placeholder = ApplicationStrings.ToDatePlaceholder, @class = "form-control form-filter input-xmedium" } })
    <span class="input-group-btn">
        <button class="btn btn-sm1 default" type="button"><i class="fa fa-calendar"></i></button>
    </span>
</div>