﻿@model FixItTron.Web.Host.Models.Infrastructure.DataPagingInformation
@{
    int showNum = 5;
}
<div class="row js-pager-row" data-totalcount="@Model.ItemCount" data-page="@Model.Page" data-size="@Model.PageSize">
    <div class="col-md-8 col-sm-12">
        <div style="display:inline-block">
            @string.Format(ApplicationStrings.TableRecordCountFormat, Model.NumberingStart, Model.NumberingEnd, Model.ItemCount) |
        </div>

        <div class="dropup page-sizes" style="display:inline-block">
            @ApplicationStrings.ShowOnPage :
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                @Model.PageSize
                <i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right js-page-sizes">
                @foreach (var size in Model.PageSizes)
                {
                    <li>
                        <a data-val="@size">@size</a>
                    </li>
                }
            </ul>
        </div>

    </div>
    <div class="col-md-4 col-sm-12">
        <ul class="pagination pull-right js-paging" style="visibility: visible;margin:0;">
            @if (Model.Page != 1)
            {
                <li class="prev"><a data-val="@(Model.Page-1)"><i class="fa fa-angle-left"></i></a></li>
                <li><a data-val="1">1</a></li>
            }
            else
            {
                <li class="active">
                    <span class="current-page">1</span>
                </li>
            }
            @{
                int startIndex = Model.Page - (showNum - 1) / 2;
                int endIndex = Model.Page + (showNum - 1) / 2;

                if (Model.Page < showNum)
                {
                    startIndex = 2;
                    endIndex = showNum < Model.PageCount ? showNum : Model.PageCount - 1;
                }
                else if (Model.Page > Model.PageCount - showNum)
                {
                    startIndex = Model.PageCount - showNum + 1;
                    endIndex = Model.PageCount - 1;
                }
            }
            @if (Model.Page >= showNum && Model.PageCount > showNum + 1)
            {
                <li><span>...</span></li>
            }
            @for (int i = startIndex; i <= endIndex; i++)
            {

                if (Model.Page == i)
                {
                    <li class="active">
                        <span class="current-page">@i</span>
                    </li>
                }
                else
                {
                    <li>
                        <a data-val="@i">@i</a>
                    </li>
                }
            }
            @if (Model.Page <= Model.PageCount - showNum && Model.PageCount > showNum + 1)
            {
                <li>
                    <span>...</span>
                </li>
            }
            @if (Model.Page != Model.PageCount)
            {
                <li>
                    <a data-val="@Model.PageCount">@Model.PageCount</a>
                </li>
                <li class="next">
                    <a class="next" data-val="@(Model.Page + 1)"><i class="fa fa-angle-right"></i></a>
                </li>
            }
            else if (Model.PageCount > 1)
            {
                <li class="active">
                    <span class="current-page">@Model.PageCount</span>
                </li>
            }
        </ul>
    </div>
</div>