﻿@model Wandio.Web.Mvc.EntityAction

<a href="@Model.Href" class="js-entity-action @Html.WriteIf(Model.IsCustomAction, "custom") @Html.WriteIf(Model.IsCustomAction, Model.CustomActionName) @(Model.BootstrapContext.HasValue ? Model.BootstrapContext.Value.ToString().ToLower(): "")">
    @if (!string.IsNullOrEmpty(Model.Icon))
    {
        <i class="fa @Model.Icon"></i>
    }
    <span class="hidden-480">
        @Model.Title
    </span>
</a>
