﻿@model Common.Enums.InvoiceStatus
@{
    string cssClass = ViewBag.Class;
    string comment = ViewBag.Comment;
    int? id = ViewBag.Id;
}

@switch (Model)
{
    case Common.Enums.InvoiceStatus.Saved:
        <span class="label @cssClass label-default">
            @Model.ToApplicationString()
        </span>
        break;
    case Common.Enums.InvoiceStatus.Processed:
        <span class="label @cssClass label-warning">
            @Model.ToApplicationString()
        </span>
        break;
    case Common.Enums.InvoiceStatus.Closed:
    <span class="label @cssClass label-success">
        @Model.ToApplicationString()
    </span>
        break;
    case Common.Enums.InvoiceStatus.Canceled:
    <span class="label @cssClass label-danger" style="color:black;">
        <span style="color:#fff">
            @Model.ToApplicationString()
        </span>
        @if (id.HasValue && !string.IsNullOrWhiteSpace(comment))
        {
            <a data-toggle="popover" title="" data-content="@comment" data-trigger="click" data-placement="bottom">
                <i class="fa fa-info-circle text-info js-popover" data-id="@string.Format("popover{0}", id.Value)" style="color:white"></i>
            </a>
        }
    </span>
        break;
}
