﻿@model Common.Enums.PaymentStatus
@{
    string cssClass = ViewBag.Class;
}

@switch (Model)
{
    case Common.Enums.PaymentStatus.Saved:
        <span class="label @cssClass label-default">
            @Model.ToApplicationString()
        </span>
        break;
    case Common.Enums.PaymentStatus.Approved:
    <span class="label @cssClass label-warning">
        @Model.ToApplicationString()
    </span>
        break;
    case Common.Enums.PaymentStatus.Paid:
    <span class="label @cssClass label-success">
        @Model.ToApplicationString()
    </span>
        break;
}
