﻿@model Common.Enums.SalesOrderStatus
@{
    string cssClass = ViewBag.Class;
    string comment = ViewBag.Comment;
    int? id = ViewBag.Id;
}
@switch (Model)
{
    case Common.Enums.SalesOrderStatus.Saved:
        <span class="label @cssClass label-default">
            @Model.ToApplicationString()
        </span>
        break;
    case Common.Enums.SalesOrderStatus.Ordered:
    <span class="label @cssClass label-warning">
        @Model.ToApplicationString()
    </span>
        break;
    case Common.Enums.SalesOrderStatus.Current:
    <span class="label @cssClass label-yellow">
        @Model.ToApplicationString()
    </span>
        break;
    case Common.Enums.SalesOrderStatus.Completed:
    <span class="label @cssClass label-success">
        @Model.ToApplicationString()
    </span>
        break;
    case Common.Enums.SalesOrderStatus.Canceled:
    <span class="label @cssClass label-danger" style="color:black;">
        <span style="color:#fff">
            @Model.ToApplicationString()
        </span>
        @if (id.HasValue && !string.IsNullOrWhiteSpace(comment))
        {
            <a data-toggle="popover" title="" data-content="@comment" data-trigger="click" data-placement="bottom">
                <i class="fa fa-info-circle text-info js-popover" data-id="@string.Format("popover{0}", id.Value)" style="color:white"></i>
            </a>
        }
    </span>
        break;
    default:
    @Model.ToApplicationString()
        break;
}
