﻿@model Common.Enums.SalesQuotationStatus

@switch (Model)
{
    case Common.Enums.SalesQuotationStatus.Draft:
        <span class="label label-sm1 label-default">
            @Model.ToApplicationString()
        </span>
        break;
    case Common.Enums.SalesQuotationStatus.Ordered:
    <span class="label label-sm1 label-warning">
        @Model.ToApplicationString()
    </span>
        break;
    case Common.Enums.SalesQuotationStatus.Canceled:
    <span class="label label-sm1 label-danger">
        @Model.ToApplicationString()
    </span>
        break;
    default:
    @Model.ToApplicationString()
        break;
}
