﻿@model IEnumerable<EditBranchViewModel>

@{
    Layout = MVC.Shared.Views._ContainerLayout;
    ViewBag.Title = ApplicationStrings.Branchs;
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-green-sharp bold uppercase">@ApplicationStrings.Branchs</span>
                    <span class="caption-helper hide">...</span>
                </div>
            </div>
            <div class="portlet-body form">
                @using (Html.BeginForm(MVC.Branches.EditBranch(), FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="form-actions top right" style="position: absolute; top: -5px; right: 31px; border-bottom: 0;">
                        <button type="submit" class="btn green">@ApplicationStrings.Change</button>
                    </div>

                    <div class="form-body">
                        @Html.EditorForModel()

                        @*<div class="margin-top-10">
                                <button type="submit" class="btn green-haze">@ApplicationStrings.Change</button>
                            </div>*@
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $(document).on('submit', '.form-horizontal', function (e) {
                Metronic.blockUI({ animate: true });
            });
        });
    </script>
}