﻿@{
    Layout = MVC.Shared.Views._Structure;
}
@{
    <style>
        .page-logo a span {
            display: inline-block;
        }

            .page-logo a span::first-letter {
                font-size: 22px !important;
            }
    </style>
}
<!-- BEGIN HEADER -->
<div class="page-header">
    <!-- BEGIN HEADER TOP -->
    <div class="page-header-top">
        <div class="container-fluid">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@Url.Action(MVC.Home.Index())">
                    <img src="~/Assets/img/logo.png" class="logo-default" style="margin: 18.5px 0 0 0;width: 210px;" />
                </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler"></a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="droddown dropdown-separator">
                        <span class="separator"></span>
                    </li>
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li class="dropdown dropdown-user dropdown-dark">
                        <a href="javascript:;" class="dropdown-toggle js-prevent-loading" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <span class="username username-hide-mobile">
                                @Extensions.GetClientName(User)
                                <i class="fa fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">
                            <li>
                                <a href="@Url.Action(MVC.Auth.ChangePassword())">
                                    <i class="icon-lock"></i>@ApplicationStrings.ChangePassword
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action(MVC.Auth.LogOut())">
                                    <i class="icon-key"></i> @ApplicationStrings.LogOut
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
    </div>
    <!-- END HEADER TOP -->
    <!-- BEGIN HEADER MENU -->
    <div class="page-header-menu">
        <div class="container-fluid">
            <!-- BEGIN HEADER SEARCH BOX -->
            @*<form class="search-form" action="extra_search.html" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="query">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                        </span>
                    </div>
                </form>*@
            <!-- END HEADER SEARCH BOX -->
            <!-- BEGIN MEGA MENU -->
            <!-- DOC: Apply "hor-menu-light" class after the "hor-menu" class below to have a horizontal menu with white background -->
            <!-- DOC: Remove data-hover="dropdown" and data-close-others="true" attributes below to disable the dropdown opening on mouse hover -->
            <div class="hor-menu ">
                <ul class="nav navbar-nav">
                    @Html.Action(MVC.Menu.TopMenu())
                </ul>
            </div>
            <!-- END MEGA MENU -->
        </div>
    </div>
    <!-- END HEADER MENU -->
</div>
<!-- END HEADER -->

<div class="page-container">
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
        <div class="container">
            <!-- BEGIN PAGE BREADCRUMB -->
            @*<ul class="page-breadcrumb breadcrumb">
                    @Html.Action(MVC.Menu.BreadCrumbs())
                </ul>*@
            <!-- END PAGE BREADCRUMB -->
            <!-- BEGIN PAGE CONTENT INNER -->

            @TempData.RenderFlash()

            @RenderBody()
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>

<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="container-fluid">
        @Html.Raw(string.Format(FixItTron.Web.ApplicationStrings.AllRightsReserved, DateTime.Now.Year))
    </div>
</div>

<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>
<!-- END FOOTER -->
@section scripts
{
    @RenderSection("scripts", false)
}

@section styles
{
    @RenderSection("styles", false)
}