﻿@model FixItTron.Web.Host.Areas.Administration.Models.Companies.CompanyTableRowModel
<td>
    @Html.ActionLink(Model.Name, MVC.Administration.Companies.Edit(Model.RowId), new { @class = "js-entity-action ", @style="font-size:18px"})
</td>
<td class="actions">
    @Html.DisplayFor(model => model.Actions)
</td>
