﻿@model FixItTron.Web.Host.Areas.Administration.Models.ApplicationUsers.SurveyTableRowModel
<td>
    @Html.DisplayFor(model => model.EventName)
</td>
<td>
    @Html.DisplayFor(model => model.Username)
</td>
<td>
    @Html.DisplayFor(model => model.UserType)
</td>
<td>
    @Html.DisplayFor(model => model.SourceType)
</td>
<td>
    @Html.DisplayFor(model => model.FirstName)
</td>
<td>
    @Html.DisplayFor(model => model.LastName)
</td>
<td>
    @Html.DisplayFor(model => model.Email)
</td>
<td>
    @Html.DisplayFor(model => model.CreateDate)
</td>
<td>
    @Html.DisplayFor(model => model.Gender)
</td>
<td>
    @Html.DisplayFor(model => model.Question1)
</td>
<td>
    @Html.DisplayFor(model => model.Question2)
</td>
<td class="actions">
    @Html.DisplayFor(model => model.Actions)
</td>
