﻿@{
    Layout = null;
    var error = TempData["Error"];
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Pikcha.me Scanning Service </title>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="HTML5 QR code Reader : A cross platform HTML5 QR code reader." />
    <meta content="Wandio" name="author" />

    @Styles.Render("~/styles/Web")

    <style>
        video {
            -moz-transform: scaleX(-1);
            -ms-transform: scaleX(-1);
            -o-transform: scaleX(-1);
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
            -moz-transform: scaleY(-1);
            -ms-transform: scaleY(-1);
            -o-transform: scaleY(-1);
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
        }
    </style>

    <script src="~/Content/Web/js/jquery-2.2.1.js"></script>

</head>
<body>
    <div class="error-container">
        @if (error != null)
        {
            <div class="text-danger">
                @error.ToString()
            </div>
        }
    </div>
    <div class="container">
        <a id="logo" href="@Url.Action(MVC.Print.Index())" style="margin: 10px auto 10px 450px;">
        </a>
        @RenderBody()
    </div>
    <script src="~/Content/Kiosk/js/html5-qrcode.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>