﻿@model FixItTron.Web.Host.Models.Print.PrintAuthViewModel
@{
    Layout = MVC.Shared.Views._Structure;
    ViewBag.IsLogin = true;
    var authMessage = TempData["AuthMessage"];
    var logoUrl = "/Assets/img/pikcha_logo_white_small.png";
}

<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
<div class="menu-toggler sidebar-toggler">
</div>
<!-- END SIDEBAR TOGGLER BUTTON -->
<!-- BEGIN LOGO -->
<div class="logo">
    @*<a href="" style="text-decoration:none;">
            <img src="~/Assets/img/logo-big.png" alt="logo" class="logo-default" style="width: 123px;margin: 14px 0;" />
            <span style="color:white;font-weight: bold;font-size: 30px;vertical-align: middle;"> CRM</span>
        </a>*@
    <a href="/" style="text-decoration:none;display: block;margin: 7px 0;">
        <img src=@logoUrl alt="Pikcha" >@*style="width:304px;height:228px;">*@
        @*<span style="color:white;font-size: 40px;">
                Pikcha<span style="font-size: 25px;color:#E83D3F;">US</span>
            </span>
            <span style="color:white;font-weight: bold;font-size: 40px;"> CRM</span>*@
    </a>
</div>

<!-- END LOGO -->
<!-- BEGIN LOGIN -->
<div class="content">
    @if (authMessage != null)
    {
        <div class="alert alert-danger alert-dismissable">
            @authMessage
        </div>
    }

    @using (Html.BeginForm(MVC.Print.Auth(), FormMethod.Post, new { @class = "login-form" }))
    {
        <h3 class="form-title">@ApplicationStrings.Signin</h3>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <br />
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            @Html.LabelFor(model => model.UserName, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = ApplicationStrings.UserName })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, new { @class = "control-label visible-ie8 visible-ie9" })
            @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = ApplicationStrings.Password })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-success uppercase">@ApplicationStrings.LogIn</button>
        </div>
    }
</div>
<!-- END LOGIN -->
<div class="copyright">
    @Html.Raw(string.Format("{0} &copy; Pikcha. All Rights Reserved.", DateTime.Now.Year))
</div>