﻿@{
    Layout = MVC.Print.Views._VideoLayout;
}
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner center">
        <div id="reader" data-url="@Url.Action(MVC.Print.Print())" style="width:800px;height:750px;margin: 0 auto;"></div>
        <span id="read" class="center"></span>
    </section>
    
</div>
<div class="" style="margin-top:80px;" align="right">
    <a id="logOut" style="color:white;" href="@Url.Action(MVC.Print.LogOut())">
        @ApplicationStrings.LogOut
    </a>
</div>


@section scripts {
    <script>
        var win = null;
        $(document).ready(function () {
            $('#reader').html5_qrcode(openPrint,
                function (error) {
                    $('#read_error').html(error);
                }, function (videoError) {
                    $('#vid_error').html(videoError);
                }
            );
            canvas = $('#qr-canvas');
            if (canvas.length > 0) {
                canvasContext = canvas.getContext('2d');

                canvasContext.translate(398, 0);
                canvasContext.scale(-1, 1);
            }
            //this.canvasContext.drawImage(image, 0, 0);
        });

        function openPrint(data) {
            if (win == null || win.closed) {
                var url = $('#reader').data('url') + '?id=' + data;

                win = window.open(url, '_blank');
                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Broswer has blocked it
                    alert('Please allow popups for this site');
                }
            }
        }
    </script>
}