﻿@model FixItTron.Web.Host.Models.Print.PrintViewModel

@{
    Layout = MVC.Print.Views._Layout;
}
<style>
    @@media print {
        #header {
            display: none;
        }
    }

    @@media print {
        .image-with-backgroundcolor {
            -webkit-print-color-adjust: exact;
        }
    }
</style>

<div id="image-cont" class="image-with-backgroundcolor" style="position:relative; padding-bottom: 44mm; @(!string.IsNullOrEmpty(Model.BackgroundLogo) ? "background-image:url('" + Model.BackgroundLogo + "');background-size:cover;background-repeat:no-repeat;" : "background-color:" + Model.BackgroundColor + ";")">
    <img id="logo-stroke" src="~/Content/Web/img/pickha_stroke90.png" alt="pikcha_stroked" />
    <img src="@Model.Image" style="margin:0; width: 95mm; height: 95mm;  border-radius: 0;" border="0" />

    <img id="event-logo" src="@Model.EventLogo" style="width: 95mm; position: absolute; " />
</div>

@section scripts {
    <script>
        $(window).load(function () {
            window.print();

            setTimeout(function () {
                window.close();
            }, 250);
        });
    </script>
}