﻿@model string
@{
    Layout = MVC.Print.Views._Layout;
}

<div class="alert alert-danger alert-dismissible fade in" role="alert" style="background: white; padding: 20px; font-size: 25px; color: red; text-align: center; font-weight: bold;">
    <h4>@Model</h4>
</div>


<script>
    $(window).load(function () {
        setTimeout(function () {
            window.close();
        }, 3000);
    });
</script>